<div class="row">
	<div class="pull-right">
		<ul class="nav nav-pills">
			<li class="<%= controller.action_name == 'tour/about_wecool' ? 'active' : '' %>"><%= link_to 'About Wecool', about_wecool_path %></li>
			<li class="<%= controller.action_name == 'tour/online_editing' ? 'active' : '' %>"><%= link_to 'Online Editing', online_editing_path %></li>
			<li class="<%= controller.action_name == 'tour/organize_photo' ? 'active' : '' %>"><%= link_to 'Organize Photo', organize_photo_path %></li>
		</ul>
	</div>
</div>
<%= content_for :other_javascript do %>
<script type="text/javascript">
	//for unknown reason now, the menu doesn't work unless you call dropdown
	$('.dropdown:first').find('a:first').dropdown()
	
</script>

<% end %>
