<div class="page-header">
  <h1>About Us</h1>
</div>

<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag 'sirap-icon/apple-touch-icon-144x144-precomposed.png' %>
        <div class="caption">
          <h3><i class="icon-building"></i> Contact</h3>
          <dl class="dl-horizontal">
            <dt><i class="icon-map-marker"></i></dt>
            <dd>
              <address>
                Some Address</br>
              </address>
            </dd>
            <dt><i class="icon-phone"></i></dt>
            <dd>(+60)3-2222-2222</dd>
            <dt><i class="icon-envelope"></i></dt>
            <dd><%= mail_to 'contact@sirap.co' %></dd>
          </dl>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail background-blood">
        <%= image_tag 'sirap-icon/sirap-negative-4x.png' %>
        <div class="caption caption-white" style="color:white;" >
          <h3><i class="icon-question"></i> What Sirap.co is</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <h3><i class="icon-question"></i> What we do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag 'sirap-icon/sirap-bw-4x.png' %>
        <div class="caption">
          <h3><i class="icon-fire"></i> Support</h3>
          <p>
            Need help? contact us at <%= mail_to 'support@sirap.co' %>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

