<% if persona_signed_in? then %>
  <div>
    <p> Welcome, <%= current_persona.screen_name %>  </p>
  </div>
  <div class="header">  
    <h2>Your recent photos <small><%= link_to 'see more...', photo_path(current_persona.screen_name, :view => 'raw') %></small></h2>
      <% if @myPhotos.empty? then %>
        <div class="well">
        <h3>You have no photos, <%= link_to 'lets upload some', new_photo_path %></h3>
        </div>
      <% else %>
        <% @myPhotos.each do |thisphoto| %>
                <%= link_to image_tag(thisphoto.avatar.square200, :class => 'img-polaroid'), 
                  photo_view_path(current_persona.screen_name, thisphoto.id) %>
        <% end %>
      <% end %>
  </div><!-- header -->
<% end %>
<h2>Recently on ...</h2>
<%= render "photos/recent" %>
