<% content_for :title, @persona.screen_name + ' followers and following' %>
<% @focus = 'Followers and Following' %>
<%= render "common/personaHeaderBar" %>

<div class="row-fluid">
  <h1>Following</h1>
  <% if @following.count == 0 then %>
    <div class="row-fluid">
      <div class="well">
        <% if persona_signed_in? && current_persona == @persona then %>
          You are not following anybody. Why don't you <%= link_to 'explore', personas_path %> and make friends?
        <% else %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row-fluid" id="following-personas" last="<%= Persona.last.id %>" >
    </div>
    <br />
    <div class="row-fluid">
      <a name="following-persona-last-div"></a>
      <%= link_to 'Load More...', '#following-persona-last-div', :class=> 'btn', :id=>'load-more-following' %>
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <h1>Followers</h1>
  <% if @followers.count == 0 then %>
    <div class="row-fluid">
      <div class="well">
        <% if persona_signed_in? && current_persona == @persona then %>
          No followers? <%= link_to 'Explore', personas_path %> and make some!
        <% else %>
          <%= @persona.screen_name %> has no followers
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row-fluid" id="being-tracked-personas" last="<%= Persona.last.id %>" >
    </div>
    <br />
    <div class="row-fluid">
      <a name="tracked-persona-last-div"></a>
      <%= link_to 'Load More...', '#tracked-persona-last-div', :class=> 'btn', :id=>'load-more-followers' %>
    </div>
  <% end %>
</div>
<%= content_for :other_javascript do %>
<script type="text/javascript">
  //load a few for each class
  $.ajax({
    url: '/personas/get_more/<%= Persona.last.id %>',
    data: { includeFirst:true, handle:'#following-personas', fetch_mode:'following', 
      fetch_focus_id:'<%= @persona.id %>' },
    beforeSend: indicator.load('#following-personas', 'after'),
    dataType: 'script'
  });
  
  $.ajax({
    url: '/personas/get_more/<%= Persona.last.id %>',
    data: { includeFirst:true, handle:'#being-tracked-personas', fetch_mode:'followers', 
      fetch_focus_id:'<%= @persona.id %>' },
    beforeSend: indicator.load('#being-tracked-personas', 'after'),
    dataType: 'script'
  });
  
  $(document).ready( function(){
    //load on click
    $('#load-more-following').click( function(){
      $.ajax({
        url: '/personas/get_more/' + $('#following-personas').attr('last') , 
        data: { includeFirst:false, handle:'#following-personas', fetch_mode:'following', 
          fetch_focus_id:'<%= @persona.id %>' },
        beforeSend: indicator.load('#following-personas', 'after'),
        dataType: 'script'
      });
    });

    $('#load-more-followers').click( function(){
      $.ajax({
        url: '/personas/get_more/'+$('#being-tracked-personas').attr('last'),
        data: { includeFirst:false, handle:'#being-tracked-personas', fetch_mode:'followers', 
          fetch_focus_id:'<%= @persona.id %>' },
        beforeSend: indicator.load('#being-tracked-personas', 'after'),
        dataType: 'script'
      });

    });
  });
</script>
<% end %>
