var handle = $('#tagcontent');
var x = 1;
<% @tags.each do |tag| %>
  handle.append( $('<tr/>') );
  var data = $('<td/>').html('\
            <h3><%= @persona.nil? ? 
              link_to(tag[:name], tag_path(tag[:name])) : 
              link_to(tag[:name], persona_show_tag_path(@persona.screen_name, tag[:name])) %>\
              <small>Mentioned <%= pluralize tag[:count],'time' %> since <%= 
                distance_of_time_in_words(Time.now, tag[:last_mention] ) %> ago.</small>\
              <small>Last mentioned on <%= tag[:first_mention].to_date %><small>\
            </h3>\
            <div class="accordion" id="accordion-<%= tag[:name] %>">\
              <div class="accordion-group">\
                <div class="accordion-heading">\
                    <%= link_to '<i class="icon-chevron-down"></i> <i class="icon-picture"></i>'.html_safe, \
                      '#body-'+tag[:name], \
                      :class=>'accordion-toggle', :'data-toggle'=> 'collapse', \
                      :'data-parent'=> '#accordion-'+tag[:name] %>\
                </div>\
                <div id="body-<%= tag[:name] %>" class="accordion-body collapse" tag="<%= tag[:name] %>" >\
                  <div class="accordion-inner">\
                    <div class="row-fluid"id="accordion-inner-<%= tag[:name] %>" >\
                    </div>\
                    <div class="row-fluid">\
                      <%= link_to 'See more...', tag_path(tag[:name]) , :class=>'btn btn-mini btn-info' %>\
                    </div>\
                  </div>\
                </div>\
              </div>\
            </div>\
          </td>\
      ');
    handle.find('tr:last').append( data); 
<% end %>

//load tag pictures where loaded
$('.collapse').on('shown', function(){
  if( $(this).find('.carousel').length == 0) {
    var sendData = { size:'square100', mediatype:'tagset', tag:$(this).attr('tag'), 
        targetDiv:'#accordion-inner-'+$(this).attr('tag'), includeFirst:true, showCaption:false, 
        showIndicators:false
    }; 
    <% if !@persona.nil? then %>
      sendData['author'] = '<%= @persona.screen_name %>';
    <% end %>
    $.ajax({
      url: '/photos/get_more/0', 
      data: sendData,
      dataType: 'script' 
    });
  };
});
