
<h1>
  <% if (defined? persona).nil? then %>
    Recent photos with '<%= tag %>' tag
  <% else %>
    <%= persona.screen_name %> recent photos with '<%= tag %>' tag
  <% end %>
</h1>

<div class="row-fluid endless-photos" last="0" >
    <div class="last-div endless_scroll_inner_wrap"></div>
</div>
<br />
<div class="row-fluid">
  <a name="last-frame"></a>
  <%= link_to 'Load More Photos', '#last-frame' , :class=>'btn btn-primary', :id=>'load-more-photos' %>
</div>

<script type="text/javascript">
  //get the first few
  <% if (defined? persona).nil? then %>
    var params = { mediatype:'tagset', tag:'<%= tag %>', includeFirst:true, size:'small' }
  <% else %>
    var params = { mediatype:'tagset', tag:'<%= tag %>', includeFirst:true, size:'small', 
      author:'<%= persona.screen_name %>' }
  <% end %>

  $.ajax({
    url: '/photos/get_more/0',
    data: params,  
    dataType: 'script'
  });

  //keep loading until the end
  $(document).endlessScroll({
    fireOnce: true,
    fireDelay: 500, 
    bottomPixels: 250, 
    intervalFrequency: 100, 
    ceaseFireOnEmpty: false, 
    ceaseFire: function(){
      return $('.last-div').length ? false : true;
    }, 
    loader: '<div class="pull-left">loading...</div>', 
    callback: function(){
        $.ajax({
          url: '/photos/get_more/'+$('.endless-photos').attr('last'), 
          data: params,
          dataType: 'script'
        });
    }, 
    ceaseFire: function(s){
      s<5 ? false : true;
    }
  });

  //load more photos
  $(document).ready( function(){
    $('#load-more-photos').click( function(){
      $.ajax({
        url: '/photos/get_more/' + $('.endless-photos').attr('last') ,
        data: params,
        dataType: 'script'
      });
    });  
  });
</script>
