<!-- local ruby variable persona will exists if rendered from persona controller persona/show_tag -->
<% if (defined? persona).nil? then %>
  <% content_for :title, 'Photos with ' + tag + ' tag' %>
  <div class="page-header">
    <h1>
      Recent photos with <i class="icon-tag"></i><%= tag %>
    </h1>
  </div>
<% else %>
  <% content_for :title, persona.screen_name + ' with ' + tag + ' tag' %>
  <% @focus = ('<i class="icon-tag"></i>' + tag ).html_safe %>
  <%= render :partial => "common/personaHeaderBar" %>
<% end %>

<div class="row-fluid">
  <%= nav_bar do %>
    <ul class="nav" id="photoSelector">
      <li class="active" id="everyPhoto" >
        <%= link_to '<i class="icon-picture"></i> Everything'.html_safe, '#' %>
      </li>
      <li id="featuredPhoto"><%= link_to '<i class="icon-star"></i> Featured'.html_safe, '#' %></li>
    </ul>
  <% end %>
</div>
<div class="row-fluid endless-photos" last="0" >
    <div class="last-div endless_scroll_inner_wrap"></div>
</div>
<br />
<div class="row-fluid">
  <a name="last-frame"></a>
  <%= link_to 'Load More Photos', '#last-frame' , :class=>'btn btn-primary', :id=>'load-more-photos' %>
</div>
