<%= form_for @persona, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :realname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :realname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :screen_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :screen_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= link_to 'Change Your Password', edit_persona_registration_path, :class=>'btn' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :picture, :class => 'control-label' %>
    <div class="controls">
      <%= image_tag @persona.avatar.normal, :class=>'img-polaroid' %>
      <%= link_to 'Change Your Picture', persona_get_profile_pic_path(@persona.screen_name), :class=>'btn' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personas_path , :class => 'btn' %>
  </div>
<% end %>
