<div class="row">
  <div class="span10 offset1">
    <h1><%= @persona.screen_name %> activities </h1>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <div>
      <h2>Recently...</h2>
      <% if @activity.empty? then %>
        <div class="hero-unit">
            <h3>Nothing to see yet</h3>
          <% if persona_signed_in? && @persona == current_persona then %>
            <p>Start <%= link_to 'uploading', new_photo_path %> photos</p>
          <% end %>
        </div>
      <% else %>
      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <% @activity_summary.each do |activity| %>
          <tr><td>
            <div class="row-fluid">
              <% if !activity[:activity_text].empty? then %>
                <ul>
                  <% activity[:activity_text].each do |act_text| %>
                  <li>
                    <%= act_text.html_safe %>
                  </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <!-- display the first 8 photos here -->
            <% 
              if !activity[:photos].empty? then
            %>
            <div class="row-fluid">
              <div class="span12">
              <%
                  activity[:photos][0..7].each do |photo|
              %>
              <%=		
                link_to image_tag(photo.avatar.square200, :class=>'img-polaroid'),  
                  photo_view_path(@persona.screen_name, photo.id) %>
              <%
                  end
              %>
              </div>
            </div>
            <%
              end
            %>
            <% if activity[:photos].count > 7 then %>
              <div class="row-fluid text-center">
                <div class="span12">
                  <!-- if photos > 8, display load page here -->
                  <%= 
                    content_tag :a, 'More Photos' , 
                      :href=> photo_get_more_path(Photo.last.id, 
                        :targetDiv => '#morePhoto-' + activity[:first_activity].to_i.to_s,
                      :size => 'square200', :showCaption => 'false', :showIndicators=>'false', 
                      :mediatype=>'fromList', :theList => activity[:photos].map{|x| x.id}[7..-1].to_s ), 
                      :class => 'btn btn-info call-modal', :role => 'button', 
                      :data => {:toggle => 'modal', 
                        :target => '#modal-' + activity[:first_activity].to_i.to_s, :remote => true } 
                    %>
                    <%=
                      modal_dialog :id => 'modal-'+activity[:first_activity].to_i.to_s, 
                        :header =>  { :show_close => true, :dismiss => 'modal' , :title => 'Other Photos' }, 
                        :body => content_tag(:div, '', 
                          :id => 'morePhoto-' + activity[:first_activity].to_i.to_s).html_safe, 
                        :footer => content_tag(:button, 'Close', :class => 'btn btn-primary', 
                          :data => { :dismiss=> 'modal' } )
                    %>
                </div>
              </div>
            <% end %>
            <!-- display tags here -->
            <% if !activity[:tags].flatten.empty? then %>
              <div class="row-fluid">
                <i class="icon-tags"></i> Tags:
                <%=  
                  (activity[:tags].flatten.map{ 
                    |x| link_to(link_to x.name, tag_path(x.name))
                  }).join(',').html_safe 
                %>
              </div>
            <% end %>
            <div class="row-fluid">
              <%= distance_of_time_in_words activity[:first_activity].to_i, DateTime.now.to_i %> ago
            </div>
          </td></tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  </div>

