<div class="page-header row-fluid">
  <h1>Set/update persona picture</h1>
</div>
<div class="row-fluid">
  <h2>Drop your picture in the box or select from your current photos...</h2>
  <%= render "photos/photo_selector" %>
</div>

<div class="row-fluid">
  <h2>...then corp to select your profile</h2>
  <div class="row-fluid">
    <div class="well span12" style="" id="drop-target">
    </div>
  </div>
</div>

<div class="row-fluid control group">
  <%= form_tag persona_update_profile_pic_path(@persona.screen_name), :method => :post do %>
    <div>
      <%= hidden_field_tag 'selected_photo_path', '/' %>
      x:<%= text_field_tag 'x_coor' %>
      y:<%= text_field_tag 'y_coor' %>
      h:<%= text_field_tag 'h_coor' %>
      w:<%= text_field_tag 'w_coor' %>
    </div>
    <div class="form-actions">
      <button role="button" class="btn btn-primary">Update your persona picture</button>
      <%= link_to 'Cancel', '#', :class=>'btn' %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    //allow box to be droppable
    $('#drop-target').droppable({
      accept:'img',
      drop: function(even, ui){
        setNewProfilePic(ui.draggable);
      }
    });    

    //handle items being dropped
    function setNewProfilePic($item){
      $('#drop-target').empty();
      $.ajax({
        url: '/photos/<%= @persona.screen_name %>/get_single/' + $item.attr('id').split('_')[1],
        data: { size:'medium' }, 
        dataType: 'script'
      }).always( function (data){
        $('#drop-target').append(data.responseText);
        $('#selected_photo_path').val( $('#drop-target img').attr('src') );
        //add corp function to picture
        $( function(){
          $('.get_single_photo').Jcrop({
            aspectRatio:1, minSize:[75,75],
            onChange:updateCoor, setSelect:[0,0,75,75]
          });
        });
      });
    }

    function updateCoor(c){
      $('#x_coor').val(c.x);
      $('#y_coor').val(c.y);
      $('#h_coor').val(c.h);
      $('#w_coor').val(c.w);
    }

  });
</script>
