<%- model_class = Persona -%>
<div class="page-header">
  <h1><%= link_to image_tag('http://placehold.it/100x100'), '#'  %> <%= @persona.screen_name %></h1>
</div>

<dl class="dl-horizontal">
  <% if persona_signed_in? && current_persona != @persona then %>
    <dt><strong>Tracking:</strong></dt>
    <dd class="trackBox">
      <% if current_persona.tracks 'persona', @persona then %>
        Tracking <%= @persona.screen_name %> - <%= link_to 'Untrack', tracker_untrack_path('persona', @persona), :remote=> true, :method=> :post %>
      <% else %>
          <%= link_to 'Track photos by ' + @persona.screen_name, tracker_track_path('persona', @persona ), :remote=>true, :method => :post %>
      <% end %>
    </dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:realname) %>:</strong></dt>
  <dd><%= @persona.realname.nil? ? 'Not set' : @persona.realname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @persona.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:screen_name) %>:</strong></dt>
  <dd><%= @persona.screen_name %></dd>
</dl>

<div class="row-fluid">
  <div class="span9">
    <h2>Photos <small><%= link_to 'See More...', photo_path(@persona.screen_name) %> </small></h2>
    <div class="row-fluid endless_scroll_inner_wrap">
    </div>
  </div>

  <div class="span3">
    <h2>Mediasets</h2>
    <div class="well">
    <% if @persona.mediasets.empty? then %>
      <% if current_persona == @persona then %>
        <h3>You don't have any mediasets yet, <%= link_to 'make some', new_mediaset_path %></h3>
      <% else %>
        <h3>No mediasets yet</h3>
      <% end %>
    <% else %>
      <% @persona.mediasets.find(:all, :order => 'id desc', :limit => 5).each do |mediaset| %>
          <div style="display:block; margin:0px auto; ">
            <h3><%= link_to mediaset.title, view_sets_path(@persona.screen_name, mediaset.id) %></h3>
            <%= link_to image_tag(mediaset.photos.last.avatar.square200, :class=>'img-polaroid'), 
              photo_view_path(@persona.screen_name, mediaset.photos.last.id)  %>
          </div>
      <% end %>
      <br />
      <p><%= link_to 'See More Mediasets', mediaset_path(@persona.screen_name), :class=>'btn' %></p>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $.ajax({
    url: '/photos/get_more/<%= Photo.last.id %>',
    data: { limit:20, author:'<%= @persona.screen_name %>', includeFirst:'true', size:'tiny' },
    dataType: 'script'
  });
</script>
