<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:realname) %>:</strong></dt>
  <dd><%= @persona.realname.nil? ? 'Not set' : @persona.realname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @persona.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:screen_name) %>:</strong></dt>
  <dd><%= @persona.screen_name %></dd>
</dl>

<div>
  <h2>Recent Photos</h2>
  <% if @persona.photos.empty? then %>
    <% if current_persona == @persona then %>
      <h3>You don't have any photos, <%= link_to 'upload some', new_photo_path %></h3>
    <% else %>
      <h3>No photos yet</h3>
    <% end %>
  <% else %>
    <ul class="thumbnails">
      <% @persona.photos.find(:all, :order => 'id desc', :limit => 5).each do |photo| %>
        <li class="thumbnail">
          <%= link_to image_tag(photo.avatar.tiny.url), photo_view_path(@persona.screen_name, photo.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <h2>Recent Mediasets</h2>
  <% if @persona.mediasets.empty? then %>
    <% if current_persona == @persona then %>
      <h3>You don't have any mediasets yet, <%= link_to 'make some', new_mediaset_path %></h3>
    <% else %>
      <h3>No mediasets yet</h3>
    <% end %>
  <% else %>
    <ul class="thumbnails">
      <% @persona.mediasets.find(:all, :order => 'id desc', :limit => 5).each do |mediaset| %>
        <li>
          <div class="thumbnail">
            <h3><%= link_to mediaset.title, view_sets_path(@persona.screen_name, mediaset.id) %></h3>
            <%= link_to image_tag(mediaset.photos.last.avatar.tiny.url), photo_view_path(@persona.screen_name, mediaset.photos.last.id)%>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if persona_signed_in? && current_persona == @persona then %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              personas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_persona_path(@persona.screen_name), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              persona_path(@persona),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
