<%- model_class = Persona -%>
<% content_for :title, @persona.screen_name + ' profile' %>
<% @focus = 'profile' %>
<%= render "common/personaHeaderBar" %>

<div class="row-fluid">
  <div class="span3 well">
    <div class="row-fluid">
      <h4>About</h4>
      <dl>
        <% if persona_signed_in? && current_persona != @persona then %>
          <dt><strong>Tracking:</strong></dt>
          <dd class="trackBox">
          <% if current_persona.tracks 'persona', @persona then %>
            Following <%= @persona.screen_name %> - <%= link_to 'Unfollow', follower_untrack_path('persona', @persona), 
              :remote=> true, :method=> :post %>
          <% else %>
            <%= link_to 'Track photos by ' + @persona.screen_name, follower_track_path('persona', @persona ), 
              :remote=>true, :method => :post %>
          <% end %>
          </dd>
        <% end %>
        <dt><strong><%= model_class.human_attribute_name(:realname) %>:</strong></dt>
        <dd><%= @persona.realname.nil? ? 'Not set' : @persona.realname %></dd>
        <dt><strong><%= model_class.human_attribute_name(:screen_name) %>:</strong></dt>
        <dd><%= @persona.screen_name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:premium) %>:</strong></dt>
        <dd>
          <%= @persona.premium? ? 
            ('Yes - '+ 
              link_to( 'Extend Premium Membership', persona_upgrade_acc_path(@persona.screen_name)) 
            ).html_safe :
            ('No - '+ link_to('Buy Premium Membership', persona_upgrade_acc_path(@persona.screen_name)) ).html_safe 
          %>
        </dd>
        <% if @persona.premium? then %>
          <dt><strong>Premium Since:</strong></dt>
          <dd><%= I18n.l @persona.premiumSince %></dd>
        <% end %>
        <% if persona_signed_in? && current_persona == @persona && @persona.premium? then %>
          <dt><strong>Premium Expiration:</strong></dt>
          <dd><%= I18n.l @persona.premiumExpire %></dd>
        <% end %>
      </dl>
    </div>
    <div class="row-fluid">
      <h4>Recent Tags</h4>
      <ul>
      <% @persona.photos.tag_counts.order('id desc').limit(20).each do |tag| %>
        <li style="display:inline;">
          <%= link_to tag.name, persona_show_tag_path(@persona.screen_name, tag.name) %>
        </li>
      <% end %>
      </ul>
    </div>
    <% if persona_signed_in? && @persona == current_persona && !@persona.premium? then %>
      <h4>Usage</h4>
      <div class="text-right">
        <%= number_to_human_size(@bandwidth, :precision => 2) %> of 300 MB
      </div>
      <div class="progress img-polaroid">
        <% bar_width = @exceed_bandwidth ? '100%' : number_to_percentage(@bandwidth/300.to_f/1024/1024*100, :precision => 0) %>
        <div class="bar <%= @exceed_bandwidth ? 'bar-danger' : '' %>" style="width: <%= bar_width %>;"></div>
      </div>
    <% end %>
    <div class="row-fluid">
      <h4>Followers (<%= Follower.where(:tracked_object_id => @persona.id, :tracked_object_type => 'persona').count %>)</h4>
      <div class="row-fluid">
        <% @followers.each do |follower| %>
          <div class="pull-left" style="margin:4px 2px;">
            <%= link_to image_tag(
              follower.avatar.normal.url.nil? ? 'http://placehold.it/75x75' : follower.avatar.normal), 
              persona_path(follower.screen_name), :title => follower.screen_name, :class=>'row-fluid' %> 
          </div>
        <% end %>
      </div>
      <div class="row-fluid">
        <% if @followers.count == 0 then %>
          <p><%= @persona.screen_name %> has no followers....</p>
        <% else %>
          <%= link_to 'see more...', follower_path(@persona.screen_name), :class=>'btn btn-mini' %>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <h4>Following (<%= @persona.followers.count %>)</h4>
      <div class="row-fluid">
        <% @following.each do |follower| %>
          <div class="pull-left" style="margin:4px 2px;">
            <%= link_to image_tag(follower.avatar.normal.url.nil? ? 'http://placehold.it/75x75' : follower.avatar.normal), 
              persona_path(follower.screen_name), :title => follower.screen_name, 
              :class => 'row-fluid' %>
          </div>
        <% end %>
      </div>
      <div class="row-fluid">
        <% if @following.count == 0 then %>
          <p><%= @persona.screen_name %> is not following anybody<p>
        <% else %>
          <%= link_to 'see more...', follower_path(@persona.screen_name), :class=>'btn btn-mini' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span9">
    <div>
      <h2>Recently...</h2>
      <% if @activity.empty? then %>
        <div class="hero-unit">
            <h3>Nothing to see yet</h3>
          <% if persona_signed_in? && @persona == current_persona then %>
            <p>Start <%= link_to 'uploading', new_photo_path %> photos</p>
          <% end %>
        </div>
      <% else %>
      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <% @activity_summary.each do |activity| %>
          <tr><td>
            <div class="row-fluid">
							<% if !activity[:activity_text].empty? then %>
								<ul>
									<% activity[:activity_text].each do |act_text| %>
									<li>
										<%= act_text.html_safe %>
									</li>
									<% end %>
								</ul>
							<% end %>
            </div>
            <div class="row-fluid">
							<div class="span12">
							<!-- display the first 8 photos here -->
							<% 
								if !activity[:photos].empty? then
									activity[:photos][0..7].each do |photo|
							%>
							<%=		link_to image_tag(photo.avatar.square200, :class=>'img-polaroid'),  photo_view_path(@persona.screen_name, photo.id) %>
							<%
									end
								end
							%>
							</div>
            </div>
						<div class="row-fluid text-center">
							<div class="span12">
								<!-- if photos > 8, display load page here -->
								<% if activity[:photos].count > 7 then %>
									<%= content_tag :a, 'More Photos' , 
												:href=> photo_get_more_path(Photo.last.id, :targetDiv => '#morePhoto-' + activity[:first_activity].to_i.to_s,
													:size => 'square200', :showCaption => 'false', :showIndicators=>'false', :mediatype=>'fromList', 
													:theList => activity[:photos].map{|x| x.id}[7..-1].to_s ), 
												:class => 'btn btn-info call-modal', :role => 'button', 
												:data => {:toggle => 'modal', :target => '#modal-' + activity[:first_activity].to_i.to_s, :remote => true } 
									%>
									<%=
										modal_dialog :id => 'modal-'+activity[:first_activity].to_i.to_s, 
											:header =>  { :show_close => true, :dismiss => 'modal' , :title => 'Other Photos' }, 
											:body => content_tag(:div, '', :id => 'morePhoto-' + activity[:first_activity].to_i.to_s).html_safe, 
											:footer => content_tag(:button, 'Close', :class => 'btn btn-primary', :data => { :dismiss=> 'modal' } )
									%>
								<% end %>
							</div>
						</div>
            <!-- display tags here -->
            <% if !activity[:tags].flatten.empty? then %>
              <div class="row-fluid">
                <i class="icon-tags"></i> Tags:
                <%=  (activity[:tags].flatten.map{ |x| link_to(link_to x.name, tag_path(x.name))}).join(',').html_safe %>
              </div>
            <% end %>
            <div class="row-fluid">
              <%= distance_of_time_in_words activity[:first_activity].to_i, DateTime.now.to_i %> ago
            </div>
          </td></tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
