<% @focus = 'Upgrade Account' %>
<%= render "common/personaHeaderBar" %>

<div class="page-header">
  <h2>
    <% if persona_signed_in? && current_persona == @persona then %>
      <%= current_persona.premium? ? 'Extend Your Premium Account' : 'Upgrade to Premium Account' %>
    <% else %>
      <%= @persona.premium? ? 
        'Extend Premium Account for '+ @persona.screen_name : 
        'Give ' + @persona.screen_name + ' Premium Membership' %>
    <% end %>
  </h2>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Benefits of upgrade</h2>  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="span2">-</th>
          <th class="span5">Normal</th>
          <th class="span5">Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Photos</td>
          <td>Up to 1000 photos can be viewed. Olders photos will be kept in case you upgrade later</td>
          <td>Unlimited Photos</td>
        </tr>
        <tr>
          <td>Photo Size</td>
          <td>Up to Large Size (800px) can be accessiable. Original size is will be kept in case you upgrade later</td>
          <td>All sizes is available</td>
        </tr>
        <tr>
          <td>Mediasets</td>
          <td>Up to 5 can be viewed. Older ones will be kept in case you upgrade later</td>
          <td>Unlimted mediasets</td>
        </tr>
        <tr>
          <td>Bandwidth</td>
          <td>300MB per month</td>
          <td>Unlimited Bandwidth</td>
        </tr>
        <tr>
          <td>Photo Visibility</td>
          <td>All Photos are always public</td>
          <td>You can set you photos to be private</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Upgrade Now!!</h3>
    <%= form_tag store_add_to_cart_path(@persona.screen_name), :class=>'form-horizontal', :id => 'buy_premium_form', :remote => true do -%>
      <legend>Purchase upgrade options...</legend>  
      <div class="control-group">
        <%= label_tag 'duration', 
          radio_button_tag( 'duration', '1y') + '1 year ($xx.xx)', 
          :class=> 'radio controls' 
        %>
        <%= label_tag 'duration', 
          radio_button_tag( 'duration', '2y', true) + '2 years ($xx.xx)', 
          :class=> 'radio controls' 
        %>
      </div> 
      <div class="form-actions">
        <%= link_to 'No Thanks', root_path , :class=> 'btn' %>
        <%= button_tag 'Upgrade Now', :class => 'btn btn-primary', :type => 'submit', 
          :id => 'purchase_premium_btn', :'data-loading-text' => 'Adding to cart...' %>
      </div>
    <% end -%>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_tag store_redeem_coupon_path(@persona.screen_name), :class=>'form-horizontal' do -%>
      <legend>...or key in your redeem codes</legend>
      <div class="control-group">
        <%= text_field_tag 'redeemCodes', nil, :placeholder => 'Key in your redeem codes', 
          :class => 'controls input-xlarge' %>
      </div>
      <div class="form-actions">
        <%= link_to 'No Thanks', root_path , :class=> 'btn' %>
        <%= button_tag 'Redeem Now', :class => 'btn btn-primary', :type => 'submit' %>
      </div>
    <% end -%>
  </div>
</div>
