<% @focus = 'Buy Storage' %>
<%= render "common/personaHeaderBar" %>

<div class="page-header">
  <h2>
    <% if persona_signed_in? && current_persona == @persona then %>
      <%= current_persona.premium? ? 'Extend Your Premium Account' : 'Upgrade to Premium Account' %>
    <% else %>
      <%= @persona.premium? ? 
        'Extend Premium Account for '+ @persona.screen_name : 
        'Give ' + @persona.screen_name + ' Premium Membership' %>
    <% end %>
  </h2>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Purchase Your Storage Plan Through Paypal...</h2>  
    <table class="table table-bordered table-hover table-center">
      <thead>
        <tr>
          <th>Package</th>
          <th>Storage</th>
          <th colspan="2">Monthly Rates</th>
          <th colspan="2">Yearly Rates</th>
        </tr>
      </thead>
      <tbody>
				<tr>
					<th>Free</th>
					<td>5 GB</td>
					<td style="text-align:center;" colspan="4">Free</td>
				</tr>
				<tr>
					<th>Nano</th>
					<td>25 GB</td>
					<td>$4.00</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="business" value="erwin@sirap.co">
							<input type="hidden" name="lc" value="MY">
							<input type="hidden" name="item_name" value="25 GB for 1 month">
							<input type="hidden" name="item_number" value="storage25gmonth">
							<input type="hidden" name="amount" value="4.00">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="button_subtype" value="products">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="add" value="1">
							<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" 
								border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

					</td>
					<td>$40.00</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="business" value="erwin@sirap.co">
							<input type="hidden" name="lc" value="MY">
							<input type="hidden" name="item_name" value="25 GB for 1 year">
							<input type="hidden" name="item_number" value="storage25gbyear">
							<input type="hidden" name="amount" value="40.00">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="button_subtype" value="products">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="add" value="1">
							<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" 
								border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
          </td>
				</tr>
				<tr>
					<th>Small</th>
					<td>100 GB</td>
					<td>$15.00</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="business" value="erwin@sirap.co">
							<input type="hidden" name="lc" value="MY">
							<input type="hidden" name="item_name" value="100 GB for 1 month">
							<input type="hidden" name="item_number" value="storage100gbmonth">
							<input type="hidden" name="amount" value="15.00">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="button_subtype" value="products">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="add" value="1">
							<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" 
								border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

					</td>
					<td>$150.00</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="business" value="erwin@sirap.co">
							<input type="hidden" name="lc" value="MY">
							<input type="hidden" name="item_name" value="100 GB for 1 year">
							<input type="hidden" name="item_number" value="storage100gbyear">
							<input type="hidden" name="amount" value="150.00">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="button_subtype" value="products">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="add" value="1">
							<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" 
								border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

					</td>
				</tr>
      </tbody>
    </table>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <div class="well">
      <p class="lead"><strong>Important:</strong> Please write your sirap.co screen name (@<%= current_persona.screen_name %>) to 'Note to seller' when paying for expediated processing of your storage coupons</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_tag store_redeem_coupon_path(@persona.screen_name), :class=>'form-horizontal' do -%>
      <legend>...or key in your redeem codes</legend>
      <div class="control-group">
        <%= text_field_tag 'redeemCodes', nil, :placeholder => 'Key in your redeem codes', 
          :class => 'controls input-xlarge' %>
      </div>
      <div class="form-actions">
        <%= link_to 'No Thanks', root_path , :class=> 'btn' %>
        <%= button_tag 'Redeem Now', :class => 'btn btn-primary', :type => 'submit' %>
      </div>
    <% end -%>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Fine Print</h3>
    <ul>
      <li>1GB = 1,000,000 bytes</li>
      <li>1 year is 1 calander year</li>
      <li>Multiple coupons can be purchased and redeem at the same time for additional storage</li>
      <li>Size is calculated from sizes of original files only</li>
			<li>When your additional storage purchase expires, the last 5GB of photos will be displayed. 
				Photos that are outside the free area will be kept at least 1 year in case you want to purchase more storage again</li>
      <li>We have the right to limit excessive use</li>
    </ul>
  </div>
</div>
