<ul class="nav nav-tabs" id="photoTypeSelectorTab">
  <li class="active recentlyFeatured"><%= link_to 'Featured', '#' %></li>
  <li class="recentlyTrendy"><%= link_to 'Trending', '#' %></li>
  <% if persona_signed_in? then %>
    <li class="recentlyTracked"><%= link_to 'Tracked', '#' %></li>
  <% end %>
  <li class="recentlyAddedRaw"><%= link_to 'Raw', '#' %><li>
</ul>
<div class="row-fluid endless-photos" last="<%= @photos.first.id %>" >
  <div class="last-div endless_scroll_inner_wrap"id="last-frame"></div>
</div>
<br />
<div class="row-fluid"><%= link_to 'Load More Photos', '#last-frame' , :class=>'btn btn-primary', :id=>'load-more-photos' %></div>
<script type="text/javascript">
  var isFeatured = $('.recentlyFeatured').hasClass('active') ? 'true' : ['true', 'false'];
  var theMediaType = 'photos'

  //get the first few photos
  $.ajax({
    url: '/photos/get_more/<%= @photos.first.id %>', 
    data: {limit:'20', includeFirst:'true', featured:isFeatured}, 
    dataType: 'script'
  });
 
  //keep loading until the end
  $(document).endlessScroll({
    fireOnce: true,
    fireDelay: 500, 
    bottomPixels: 250, 
    intervalFrequency: 100, 
    ceaseFireOnEmpty: false, 
    ceaseFire: function(){
      return $('.last-div').length ? false : true;
    }, 
    loader: '<div>loading...</div>', 
    callback: function(){
        $.ajax({
          url: '/photos/get_more/'+$('.endless-photos').attr('last'), 
          data: { featured:isFeatured, mediatype:theMediaType } ,
          dataType: 'script'
        });
    }, 
    ceaseFire: function(s){
      s<5 ? false : true;
    }
  });

  $(document).ready( function(){
    //handle nav bar
    $('#photoTypeSelectorTab li').click( function(){
      $('.active').toggleClass('active');
      $(this).toggleClass('active');

      //reload the photos
      $('.carousel').detach();
      isFeatured = $('.recentlyFeatured').hasClass('active') ? 'true' : ['true', 'false'];
      isTracked = $('.recentlyTracked').hasClass('active') ? true : false;

      theMediaType = isTracked ? 'tracked' : 'photos';

      $('.endless-photos').attr('last', <%= Photo.last.id %>);
      console.log('isFeatured=' + isFeatured);
      $.ajax({
        url: '/photos/get_more/'+$('.endless-photos').attr('last'), 
        data: { limit:20, featured:isFeatured, includeFirst:true, mediatype:theMediaType} ,
        dataType: 'script'
      });
    });
   
    //manually load more photos (happens when your screen is too big 
    $('#load-more-photos').click( function(){
      $.ajax({
        url: '/photos/get_more/'+$('.endless-photos').attr('last'), 
        data: { limit:20, featured:isFeatured, mediatype:theMediaType } ,
        dataType: 'script'
      });
    });

  });
</script>
