<div class="row-fluid">
  <div class="span9">
    <h3>This runs fast on chrome</h3>
    <% if persona_signed_in? then %>
        <div class="well">
            <a href="#" class="btn" id="corp">Corp</a>
          <div class="btn-group">
            <a href="#" class="btn" id="rotateLeft">Rotate Left</a>
            <a href="#" class="btn" id="rotateRight">Rotate Right</a>
          </div>
          <div class="btn-group">
            <a href="#" class="btn" id="brightness">Brightness:</a>
            <a href="#" class="btn" id="brightness-minus">-</a>
            <a href="#" class="btn" id="brightness-value">0</a>
            <a href="#" class="btn" id="brightness-plus">+</a>
          </div>
          <div class="btn-group">
            <a href="#" class="btn" id="contrast">Contrast</a>
            <a href="#" class="btn" id="contrast-minus">-</a>
            <a href="#" class="btn" id="contrast-value">0</a>
            <a href="#" class="btn" id="contrast-plus">+</a>
          </div>
          <div class="btn-group">
            <a href="#" class="btn" id="reset-image">Reset Image</a>
          </div>
        </div>
        <canvas id="theCanvas" height=720 width=1280 style="border: 1px solid black;">
          Your browser does not support canvas
        </canvas>
        <div class="form-actions">
          <%= link_to 'Back', photo_view_path(@persona.screen_name, @photo.id), :class=>'btn' %>
          <%= link_to 'Save A Copy', '#', :class=>'btn'%>
        </div>
        <!-- load the canvas -->
        <script type="text/javascript">
          var canvas = document.getElementById('theCanvas');
          var ctx = canvas.getContext('2d');
          var origImageData;
          var imageDataDelta;

          var img = new Image();
          img.src = "<%= @photo.avatar.large.url %>";

          //load the image to the canvas
          img.onload = function(){
            ctx.translate(canvas.width/2, canvas.height/2);
            ctx.drawImage(img, img.width/-2, img.height/-2);
            ctx.translate(canvas.width/-2, canvas.height/-2);
          origImageData = ctx.getImageData(0,0, canvas.width, canvas.height);
          console.log(origImageData.data[2030307]);
          }
  
        </script>
        <!-- the rest of the script goes here -->
        <%= javascript_include_tag "photo_editor.js" %>
      </div>
    <% else %>
      <div>
        <%= link_to 'Sign In', new_persona_session_path %> or 
        <%= link_to 'Sign Up', new_persona_registration_path %> to edit this photo
      </div>
    <% end %>
  </div><!-- span9 -->
</div><!-- row -->
