<div class="row-fluid">
  <div class="span12">
    <%= nav_bar do %>
      <% menu_group do %>
        <%= menu_item '<i class="icon-crop icon-4x"></i>'.html_safe , '#'  %>
        <%= menu_item '<i class="icon-rotate-left icon-4x"></i>'.html_safe , '#' %>
        <%= menu_item '<i class="icon-rotate-right icon-4x"></i>'.html_safe, '#'  %>
        <%= drop_down '<i class="icon-sun icon-4x"></i>'.html_safe do %>
            <li style="padding:3px 20px;">
              <div class="slider" id="brightness-slider"></div>
            </li>
        <% end %>
        <%= drop_down '<i class="icon-adjust icon-4x"></i>'.html_safe do %> 
          <li style="padding:3px 20px;">
            <div class="slider" id="contrast-slider"></div>
            </li>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <% img = ::Magick::Image::read(@photo.avatar.large.path).first %>
  <canvas id="canvas" class="span12 img-polaroid" height="<%= img.rows %>" width="<%= img.columns %>" style="max-width:none; width:<%= img.columns %>px;" >
  </canvas>
</div>
<script type="text/javascript">
  $(function(){

    //get canvas handle
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var origImageData, initData , imageDataDelta;

    //fill up the canvas w/ picture
    var img = new Image();
    img.src = '<%= @photo.avatar.large.url %>'; 
    img.onload = function(){
      ctx.drawImage(img, 0, 0);
      origImageData = ctx.getImageData(0,0, canvas.width, canvas.height);
			initData = new Array();
			for(i=0; i< origImageData.data.length; i++){
				initData.push(origImageData.data[i]);
			}
    };

    //setup the sliders for brightness and contrast
    $('.slider').slider({ value:0, min:-128, max:128 });
    $('#brightness-slider').on('slide', function(event, ui){
      console.log('update brightness value:' + ui.value);
			newData = Filters.filterImage( Filters.brightness, document.getElementById('canvas'), ui.value);
			ctx.putImageData(newData, 0,0);
    } );

    $('#contrast-slider').on('slide', function(event, ui){
      console.log('update contrast value:' + ui.value);
			newData = Filters.filterImage( Filters.contrast, document.getElementById('canvas'), ui.value);
			ctx.putImageData(newData, 0,0);
    } );

    // see http://www.html5rocks.com/en/tutorials/canvas/imagefilters/
    Filters = {};

		Filters.getPixels = function(){
			//return c.getContext('2d').getImageData(0,0, c.width, c.height);
			for( i=0; i<initData.length; i++){
				origImageData.data[i] = initData[i];
			}
			return origImageData;
		};

		Filters.filterImage = function(filter, var_args){
			var args = [Filters.getPixels()];
			for (var i=2; i < arguments.length; i++){
				args.push(arguments[i]);
			}
		
			return filter.apply(null, args);
		};

		//brightness filter
		Filters.brightness = function(pixels, adjustment){
			var d = pixels.data;
			for (var i =0; i < d.length; i+=4){
				d[i] += adjustment;
				d[i+1] += adjustment;
				d[i+2] += adjustment;
			}
			return pixels;
		};

		//constrast filter
		Filters.contrast = function(pixels, adjustment){
			//contrast here
			var d = pixels.data;
			var contrastFactor = (259 * (adjustment + 255))/(255 * (259 - adjustment));
		
			for (var i=0; i < d.length; i+=4){
				d[i] = contrastFactor * ( d[i] - 128 ) + 128;
				d[i+1] = contrastFactor * ( d[i+1] - 128 ) + 128;
				d[i+2] = contrastFactor * ( d[i+2] - 128 ) + 128;
			}

			return pixels;
		}

	});
</script> 
