<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> by <%= @persona.screen_name %></h1>
</div>
<div>
  <div>
    <ul class="thumbnails">
  <% @photos.each do |photo| %>
      <li>
        <div class="thumbnail">
          <%= link_to image_tag(photo.avatar.medium), photo_view_path(@persona.screen_name, photo.id) %>
        </div>
      </li>
  <% end %> 
    </ul>
  </div>
  <div class="container">
    <div class="pagination pagination-large pagination-centered">
      <ul>
        <li>
          <%= link_to 'Prev', @current_page == 1 ? '#' : photo_page_path(@persona.screen_name, @current_page - 1) %>
        </li>
        <% for page in 1..@page_count %>
          <li <%= (params[:page_id].nil? && page == 1)||  page == params[:page_id].to_i ? 'class=active' : ''  %>>
            <%= link_to page, photo_page_path(@persona.screen_name, page) %>
          </li>
        <% end %> 
        <li>
          <%= link_to 'Next', @current_page == @page_count ? '#' : photo_page_path(@persona.screen_name, @current_page + 1) %>
        </li>
      </ul>
    </div>
  </div> 
</div>
