<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> by <%= @persona.screen_name %></h1>
</div>
<div>
  <% if @photos.empty? then %>
    <div>
      <% if current_persona == @persona then %>
        <h3>You don't have any photos yet <%= link_to 'upload some', new_photo_path %></h3>
      <% else %>
        <h3>No photos yet...
      <% end %>
    </div>
  <% else %>
    <div class="row-fluid">
      <% @photos.each do |photo| %>
        <div class="" style="float:left; margin:0px 5px 5px 0px">
          <%= link_to image_tag(photo.avatar.small, :class=> ''), 
            photo_view_path(@persona.screen_name, photo.id) %>
        </div>
      <% end %> 
    </div>
    <div class="container row-fluid">
      <div class="pagination pagination-large pagination-centered span12">
        <%= build_page_list(@current_page, @page_count, @persona) %>
      </div>
    </div> 
  <% end %>
</div>
