<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> by <%= @persona.screen_name %></h1>
</div>
<div>
  <% @photos.each do |photo| %>
    <div>
      <%= link_to image_tag(photo.avatar.medium), photo_view_path(@persona.screen_name, photo.id) %>
      <%= link_to photo.title == nil ? 'Untitile' : photo.title, photo_path(photo.id) %> 
        by
        <% this_persona = Persona.find(photo.persona_id).screen_name %>
        <%= link_to this_persona, persona_path(this_persona) %>
    </div>
  <% end %> 
  
</div>
