<div id="addToSetModal" class="modal hide fade" tabindex="-1" role="dialog">
  <div id="selectMediaset">
    <!-- to select current mediaset -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="addToSetModalHeader">Select Mediaset to add...</h3>
    </div>
    <div class="modal-body" id="selectMediasetList" >
      <table class="table table-bordered table-hover" id="newMediasetList">
        <tbody>
        <% @persona.mediasets.each do |mediaset| %>
          <tr class="mediasetSelectionRow"><td>
            <div class="pull-left">
              <big>
                <%= check_box_tag 'mediaset[]', mediaset.id, mediaset.photos.include?(photo), :style => 'display:none;' %> 
                <%= image_tag ( mediaset.photos.empty? ? 'icon/zero-photo/square50.jpg' : mediaset.photos.first.avatar.square50 )%>
                <%= mediaset.title %>
              </big>
            </div>
            <div class="pull-right"> 
              <i class="checkbox-icon <%= mediaset.photos.include?(photo) ? 
                'icon-check-sign icon-2x' : '' %>"></i>
            </div> 
          </td></tr>
        <% end %>
        </tbody>
      </table>
      <div>
        <p class="text-center">
          <%= link_to 'Create new Mediaset...', '#', :id=>'newMediasetButton', :class=>'btn btn-info' %>
        </p>
      </div>
    </div>
    <div class="modal-footer" id="updateMediasetFooter">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <% if photo.id.nil? then %>
        <%= button_tag 'Ok', :type => 'button', :class => 'btn btn-primary', :'data-dismiss' => 'modal' %>
      <% else %>
        <%= submit_tag 'Update Mediaset List', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div id="newMediaset">
    <!-- to create new mediaset -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3>Create new Mediaset</h3>
    </div>
    <div class="modal-body" id="selectMediasetNew">
      <%= text_field_tag :newMediasetTitle, nil,  :placeholder => 'Title', 
        :class=>'input-block-level' %>
      <%= text_area_tag :newMediasetDescription, nil, :placeholder => 'Description', 
        :class=> 'input-block-level' %>
      <% if !photo.id.nil? then %>
        <%= check_box_tag 'photo[]', photo.id, true, :id => 'photo_'+photo.id.to_s, :style=>'display:none;'%>
      <% end %>
      <br />
    </div>
    <div class="modal-footer" id="createMediasetFooter">
      <%= link_to 'Cancel', '#', :class=>'btn' , :id => 'mediasetNewCancel' %>
      <%= link_to 'Create new Mediaset', '#', :class=>'btn btn-primary', :id => 'mediasetNewCreate' %>
    </div>
  </div>
</div>
<script script="text/javascript">
  //generate form in #selectMediaset if photo.id.nil is false
  <% if !photo.id.nil? then %>
    $('#selectMediaset').wrapInner(
      $('<form/>', {
        action:'<%= photo_update_setlist_path(@persona.screen_name, photo.id) %>', method:'post' 
      })
    );
  <% end %>
  $(document).ready(function() {
      $("#newMediaset").hide();
      $('#newMediasetButton').click(function (event){
        $('#selectMediaset').hide('slow');
        $('#newMediaset').show('slow');
      });
      $('#mediasetNewCancel').click(function (event){
        $('#selectMediaset').show('slow');
        $('#newMediaset').hide('slow');
      });
      $('#mediasetNewCreate').click(function (event){
        //create new mediaset and add new photo to set here

        //send ajax to create new mediaset
        $.ajax({
          url:'/mediasets',
          data: { mediaset:{ title:$('#newMediasetTitle').val(), description:$('#newMediasetDescription').val() } },
          type: 'POST',
          dataType: 'script'
        });
        $('#selectMediaset').show('slow');
        $('#newMediaset').hide('slow');

      });
  
      $('.mediasetSelectionRow').click( function() {
        $(this).find('input:checkbox').prop('checked', !$(this).find('input:checkbox').prop('checked') )
        $(this).find('.checkbox-icon').toggleClass('icon-check-sign');
        $(this).find('.checkbox-icon').toggleClass('icon-2x');
      });
  });
</script>
