<div>
  <ul class="nav nav-pills">
    <li class="<%= params[:size] == 'tiny' ? 'active' : ''%>"><%= link_to 'Tiny', photo_versions_path(@photo.id, :size => 'tiny') %></li>
    <li class="<%= params[:size] == 'small' ? 'active' : ''%>"><%= link_to 'Small', photo_versions_path(@photo.id, :size => 'small') %></li>
    <li class="<%= params[:size] == 'medium' ? 'active' : ''%>"><%= link_to 'Medium', photo_versions_path(@photo.id, :size => 'medium') %></li>
    <li class="<%= params[:size] == 'large' ? 'active' : ''%>"><%= link_to 'Large', photo_versions_path(@photo.id, :size => 'large') %></li>
    <li class="<%= params[:size] == 'xlarge' ? 'active' : ''%>"><%= link_to 'X-Large', photo_versions_path(@photo.id, :size => 'xlarge') %></li>
    <li class="<%= params[:size] == 'original' ? 'active' : ''%>"><%= link_to 'Original', photo_versions_path(@photo.id, :size => 'original') %></li>
  </ul>  
</div>
<div>
  <%= image_tag @avatar %>
</div>
<div>
  <%= link_to 'Download this version', @avatar.url %>
</div>
