<%- model_class = Photo -%>

<!-- photo view and description -->
<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <!-- menubar for photo -->
      <div class="navbar-inner">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photo<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Other Versions', photo_version_path(@persona.screen_name, @photo.id) %></li>
                <li><%= link_to 'Launch Editor', photo_editor_path(@photo.id) %></li>
                <li><%= link_to 'Exif Data', photo_view_exif_path(@persona.screen_name, @photo.id) %></li>
                <% if persona_signed_in? && current_persona.id == @persona.id then %>
                  <li><%= link_to 'Add/Remove to Mediaset', '#addToSetModal', :'data-toggle'=>'modal' %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Delete this photo', photo_path(@photo), 
                    :method => 'delete', 
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
                    %></li>
                <% end %>
              </ul>
          </li>
        </ul>
      </div>
    </div><!-- navbar -->
    <div id="carousel" class="carousel">  
      <!-- picture description -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @photo.avatar.xlarge, :style=> 'margin-left:auto; margin-right:auto;' %>
          <div class="carousel-caption row-fluid">
            <div class="span6">
              <h4 id="photo-title"><%= @photo.title %>
                <small> by <%= link_to persona_signed_in? && 
                  current_persona == @persona ? 'you' : @persona.screen_name, persona_path(@persona.screen_name) %>
                </small>
              </h4>
              <% if persona_signed_in? && current_persona == @persona then %>
                <%= form_for @photo, :html => { :id=>'photo-title-form', :class=> 'form-horizontal' } do |f| %>
                  <%= f.text_field :title , :class=>'span6'%>
                  <%= link_to 'Cancel', '#', :id=>'photo-title-cancel-btn', :class=>'btn' %> 
                  <%= f.submit 'Update title', :class=>'btn btn-primary' %>
                <% end %>
              <% end %>
            </div>
            <div class="span6">
              <div class="row-fluid">
                <div  class="span2" >
                  <h4>
                  <%= link_to '<i class="icon-star-empty"></i>'.html_safe, '#', :remote=>true %>
                  <%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, '#', :remote=>true %>
                  <%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, '#', :remote=>true %>
                  <small>2345 votes</small>
                  </h4>
                </div>
                <div class="span9"> 
                  <div class="progress">
                    <div class="bar bar-success" style="width:70%;"></div>
                    <div class="bar bar-danger" style="width:30%;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="photo-desc" class="row-fluid" style="max-height:150px; overflow:auto;">
              <%= simple_format(@photo.description.nil? ? 'No Description' : @photo.description) %>
            </div>
            <% if persona_signed_in? && current_persona.id == @persona.id then %>
              <%= form_for @photo, :html => { :id => 'photo-desc-form' } do |f| %>
                <%= f.text_area :description, :size => '80x6', :class=>'span9' %> 
                <br />
                <%= link_to 'Cancel', '#photo-desc', :id=>'photo-desc-cancel-btn', :class=>'btn' %>
                <%= f.submit nil, :class=>'btn btn-primary' %>
              <% end %>
            <% end %>
            </div><!-- carousel-caption -->
          </div><!-- active item -->
        </div><!-- corousel-inner -->
        <%= link_to '&lsaquo;'.html_safe,  @prev_photo.nil? ? '#' : photo_view_path(@persona.screen_name, 
          @prev_photo) , :class=>'carousel-control left' %>
        <%= link_to '&rsaquo;'.html_safe,  @next_photo.nil? ? '#' : photo_view_path(@persona.screen_name, 
          @next_photo) , :class=>'carousel-control right' %>
      </div><!--carousel-->
  </div><!-- span12 -->
</div><!-- row -->

<!-- photo coverflow -->
<div class="accordion" id="accordion2">
  <div class="accordion-group">
      <!-- show which mediasets this photo belongs to -->
    <div class="accordion-heading">
      <h3>
        <%= link_to '<i class="icon-chevron-down"></i>'.html_safe, '#collapseDefault', 
          :class=>'accordion-toggle', :'data-toggle'=>'collapse', :'data-parent'=>"#accordion2", 
          :style=>'display:inline;'  %><%= link_to 'Default', photo_path(@persona.screen_name) %>
      </h3>
    </div>
    <div class="accordion-body collapse" id="collapseDefault">
      <div class="accordion-inner">
          <% @photolist = get_photo_list(@persona.id, @photo.id, nil) %>
          <%= render "coverflow" %>
      </div>
    </div>
  </div>
  <% @photo.mediasets.each do |mediaset| %>
    <div class="accordion-group">  
      <div class="accordion-heading">
        <h3>
        <%= link_to '<i class="icon-chevron-down"></i>'.html_safe, '#collapse'+mediaset.id.to_s, 
          :class=>'accordion-toggle', :'data-toggle'=>'collapse', :'data-parent'=>'#accordion2', 
          :style=>'display:inline;' %><%= link_to mediaset.title, view_sets_path(@persona.screen_name, mediaset) %>
        </h3>
      </div>
      <div class="accordion-body collapse" id="collapse<%= mediaset.id %>">
        <% @photolist = get_photo_list(@persona.id, @photo.id, mediaset.id) %>
        <%= render "coverflow" %>
      </div>
    </div>
  <% end %>
</div>


<!-- modal for updating mediaset selection -->
<%= render "updateMediasetModal" %>

<% if persona_signed_in? && @persona.id == current_persona.id then %>
  <script type="text/javascript">
    //for owners of the photo
    $(document).ready(function(){
      //hide all the forms
      $("#photo-title-form").hide();
      $("#photo-desc-form").hide();
      
      //click event
      $("#photo-title").click(function (event){
        $("#photo-title").hide("slow");
        $("#photo-title-form").show("slow");
      });
      $("#photo-title-cancel-btn").click(function (event){
        $("#photo-title").show("slow");
        $("#photo-title-form").hide("slow");
      });
      $("#photo-desc").click(function (event){
        $("#photo-desc").hide("slow");
        $("#photo-desc-form").show("slow"); 
      });
      $("#photo-desc-cancel-btn").click(function (event){
        $("#photo-desc").show("slow");
        $("#photo-desc-form").hide("slow"); 
      });
    });
  </script>
<% end %>
<script type="text/javascript">
  //for normal users 
  $(document).ready(function(){
      $('.carousel-caption').hide();
      $('.carousel-control').hide();
      $('#carousel').hover(
        function(){ 
          $('.carousel-caption').fadeIn('slow', '');
          $('.carousel-control').fadeIn('', '');
        }, function(){ 
          $('.carousel-caption').fadeOut('slow','');
          $('.carousel-control').fadeOut('', '');
        }
      );
  });

  $(document).keydown(function (e) {
    var keyCode = e.keyCode || e.which,
        arrow = {left: 37, up: 38, right: 39, down: 40 };

    switch (keyCode) {
      case arrow.left:
        $(location).attr('href', "<%= @prev_photo.nil? ? '#' :  photo_view_path(@persona.screen_name, @prev_photo) %>");
      break;
      case arrow.right:
        $(location).attr('href', "<%= @next_photo.nil? ? '#' : photo_view_path(@persona.screen_name, @next_photo) %>");
      break;
    }
  });
</script>
