<%= form_for @mediaset, :html => { :class => 'form-inline' } do |f| %>
  <div class="row-fluid">
    <div class="span3">
      <h3>Set the title and description...</h3>
      <div class="control-group pull-left">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group pull-left">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_area', :cols => 80, :rows=>5 %>
        </div>
      </div>
    </div>
    <div class="span9">
      <h3>...then drop & arrange your photos here...</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li>
              <%= button_tag 'Select All', :type=>'button', :id => 'setlist-select-all', :class=>'btn btn-link' %>
            </li>
            <li>
              <%= button_tag 'Deselect All', :type => 'button', :id => 'setlist-deselect-all', 
                :class=>'btn btn-link' %>
            <li>
            <li class="dropdown">
              <%= link_to ('Order <b class="caret"></b>').html_safe , '#', :class=>'dropdown-toggle', 
                :'data-toggle' => 'dropdown' %>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to 'By newest uploaded first', '#', :role=>'menuitem', 
                    :id => 'sort-newest-upload-first' %>
                </li>
                <li>
                  <%= link_to 'By oldest uploaded first', '#', :role=>'menuitem', 
                    :id => 'sort-oldest-upload-first' %>
                </li>
              </ul>
            </li>
            <li>
              <%= button_tag 'Remove Selected', :type => 'button', :id => 'setlist-remove-selected', 
                :class=> 'btn btn-link' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="well" id="mediaset-photo-listings" style="overflow:hidden; min-height:240px;" >
        <% @mediaset_photos.each do |photo| %>
          <div id="photo_<%= photo.id %>" class="pull-left selected-img" value="<%= photo.id %>"  >
            <%= check_box_tag 'photo[]', photo.id, true, :id => 'photo_'+photo.id.to_s, :style => 'display:none;' %>
            <%= check_box_tag 'selected[]', photo.id, false, 
              :id => 'photo_'+photo.id.to_s, :class=>'photo-listings-select', :style => 'display:none;' %>
            <%= image_tag photo.avatar.square100, :style => 'margin:4px;', 
              :class=> 'img-polaroid ui-widget-content' %>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- row-fluid -->

  <!-- photo selection -->
  <div class="row-fluid" id="photo-pool-title" >
      <h3>...from your pool of photos</h3>
  </div>
  <div class="row-fluid">
  </div>
  <div class="row-fluid" id="photo-pool">
      <div class="">
        <select id="photo-listing-selector" name="photo-listing-selector" style="">
          <option value="photoNotInSet" selected>Photos not in this mediaset</option>
          <option value="photoFeatured">Featured Photos</option>
          <option value="ignore">Last Import...</option>
          <% @upload_date_list.each do |thisDate| %>
            <option value="photoOn<%= thisDate.beginning_of_day.to_s(:number) %>">  
              <%= '--' + thisDate.to_s %>
            </option>
          <% end %>
          <option value="photoAll" >All Photos</option>
        </select>
        <%= button_tag 'Select All', :type => 'button', :class=> 'btn btn-link', :id => 'selectAllButton' %> | 
        <%= button_tag 'Deselect All', :type => 'button', :class=> 'btn btn-link', :id => 'deselectAllButton' %>
      </div>
      <div>
      </div>
      <br />
      <div class="control-group row-fluid endless-photos" id="photo-list" 
        last="<%= Photo.last.id %>" style="overflow-x:scroll; white-space:nowrap;" >
        <div class="last-div endless_scroll_inner_wrap">
        </div>
      </div>
      <div class="pull-right" style="white-space:normal; display:inline-block;" id="loadMorePhotos" > 
        <button type="button" class="btn"> Load More Photos...  </button>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mediasets_path, :class => 'btn' %>
  </div>
<% end %>


<script type="text/javascript">
  var getConditions = {};
  getConditions = {limit:20, includeFirst:'true', size:'square100', 
      author:'<%= @persona.screen_name %>', showCaption:'false', excludeMediaset:'<%= @mediaset.id %>', 
      draggable:true, dragSortConnect:'#mediaset-photo-listing', enableLinks:false, 
      float:false, cssDisplay:'inline-block', showIndicators:false, multipleSelect:true
  };

  $.ajax({
    url: '/photos/get_more/<%= Photo.last.id %>',
    data: getConditions, 
    dataType: 'script'
  });

  /*
    Function declarations
  */
  var mediasetPhotoListingClick = function(){
    var imageHandle = $(this).parent();
    imageHandle.find('.photo-listings-select').prop(
      'checked', !imageHandle.find('.photo-listings-select').prop('checked')
    );
    imageHandle.find('img').toggleClass('highlightPhoto');
  }

  $(document).ready(function (){
    //track changes on the photo selection dropdown
    $('#photo-listing-selector').change( function() {
      //var getConditions = {};
      if ($(this).val() == 'photoNotInSet'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', enableLinks:false, 
          excludeMediaset:'<%= @mediaset.id %>', draggable:true, dragSortConnect:'#mediaset-photo-listing',
          float:false, cssDisplay:'inline-block', showIndicators:false, multipleSelect:true
        }
      } else if ($(this).val() == 'photoAll'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', enableLinks:false,
          draggable:true, dragSortConnect:'#mediaset-photo-listing',
          float:false, cssDisplay:'inline-block', showIndicators:false, multipleSelect:true
        }
      } else if($(this).val().substring(0,7) == 'photoOn' ) {
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', 
          dateRange:$(this).val().split('photoOn')[1], enableLinks:false, 
          draggable:true, dragSortConnect:'#mediaset-photo-listing',
          float:false, cssDisplay:'inline-block', showIndicators:false, multipleSelect:true
        }
      } else if($(this).val() == 'photoFeatured'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', featured:true,  
          author:'<%= @persona.screen_name %>', showCaption:'false',  enableLinks:false,
          excludeMediaset:'<%= @mediaset.id %>', draggable:true, dragSortConnect:'#mediaset-photo-listing',
          float:false, cssDisplay:'inline-block', showIndicators:false, multipleSelect:true
        }
      }

      if( $(this).val() != 'ignore' ){
        $('.endless_scroll_inner_wrap').empty();
        $.ajax({
          url: '/photos/get_more/<%= Photo.last.id %>',
          data: getConditions,
          dataType: 'script'
        });
      }
    });

    //click to load more photos
    $('#loadMorePhotos').click( function(){
      getConditions.includeFirst = 'false';
      $.ajax({
        url: '/photos/get_more/' + $('#photo-list').attr('last'),
        data: getConditions,
        dataType: 'script'
      });
    });
    
    //allow photos to be dropped from pool to image-setlist (add photo to setlist)
    $('#mediaset-photo-listings').droppable({
      accept:'.endless_scroll_inner_wrap img',
      drop: function( event, ui ){
        //addPhotoToMediaset(ui.draggable);
        addPhotoToMediaset(ui.helper.children());
      }
    });

    //allow the selected imagelist to be sortable
    $('#mediaset-photo-listings').sortable({
      //later, allow multi select and sort multiple element
    });

    //allow photos in the setlist be dropped into the pool (remove photo from setlist) 
    $('#photo-list').droppable({
      accept:'#mediaset-photo-listings .selected-img', 
      drop: function (event, ui){
        //revertPhotoToPool(ui.draggable);
        revertPhotoToPool(ui.helper.children() );
      }
    });

    //handle photo being dropped into the image setlist
    function addPhotoToMediaset( $item ){
      //$item is <img src="..."/><img src="..." />
      $item.each( function() {
        var idToLook = '#'  + $(this).attr('id');
        if( $('#mediaset-photo-listings').find(idToLook).length != 0){
          //skip this phoot
          console.log('skipping '+ idToLook);
        } else {
          /*
            turn <img src=".."/> to
            <div class="pull-left selected-img" style="margin:4px; position:relative">
              <img src="..." />
              <input name="photo[]" id="" value="" checked style="display:none" />
            </div>
            
            and add to $('#mediaset-photo-listings') 
          */
          //bind the image and imbdue w/ proper behavior when the image is clicked
          $(this).wrap(
            $('<div/>', { id:idToLook.split('#')[1],  class:'pull-left selected-img',
              style:'margin:4px; position:relative;'} )
          );
          $(this).attr('id', idToLook.split('#')[1]);
          $(this).bind('click', mediasetPhotoListingClick );

          var handle = $(this).parent();
          handle.prepend(
            $('<input/>', {
              class:'photo-listings-select', id:idToLook.split('#')[1], name:'selected[]',
              style:'display:none;', type:'checkbox', value:idToLook.split('_')[1]
            })
          );
          handle.prepend(
            $('<input/>', {
              name:'photo[]', id:idToLook.split('#')[1], value:idToLook.split('_')[1], 
              type:'checkbox', checked:'true', style:'display:none;'
            })
          );
          $('#mediaset-photo-listings').append( handle );
          $('#mediaset-photo-listings').find('img').removeClass('highlightPhoto');
          //remove from where it's being dragged
          $('.endless_scroll_inner_wrap').find('#carousel_'+idToLook.split('_')[1]).detach();
        }
      });
    }

    //handle photo being dropped into the imagelist
    function revertPhotoToPool( $item){
      //$item.detach();
      //$('#mediaset-photo-checkbox').find('#' + $item.attr('id')).remove();
      $('#mediaset-photo-listings').find('#'+ $item.attr('id')).detach();
    }

    //for the #photo-pool
    //select all button
    $('#selectAllButton').click( function(){
      $('#photo-pool').find('.carousel').each( function() {
        if (!$(this).find('input').prop('checked') ) {
          $(this).find('img').click();
        }
      });      
    });

    //deselect all button
    $('#deselectAllButton').click( function(){
      $('#photo-pool').find('.carousel').each( function() {
        if ($(this).find('input').prop('checked') ) {
          $(this).find('img').click();
        }
      });      
    });

    //for the #mediaset-photo-listings pool
    $('#mediaset-photo-listings').find('img').click( mediasetPhotoListingClick );

    $('#setlist-select-all').click( function() {
      $('#mediaset-photo-listings').find('.selected-img').each( function(){
        if(!$(this).find('.photo-listings-select').prop('checked') ) {
          $(this).find('img').click();
        }
      });
    });

    $('#setlist-deselect-all').click( function() {
      $('#mediaset-photo-listings').find('.selected-img').each( function(){
        if($(this).find('.photo-listings-select').prop('checked') ) {
          $(this).find('img').click();
        }
      });
    });

    $('#sort-newest-upload-first').click( function(event){
      event.preventDefault();
      var handle = $('#mediaset-photo-listings').children().remove();
      handle.sort( function(a,b){
        return $(a).attr('value') > $(b).attr('value') ? -1 : 1;
      });
      $('#mediaset-photo-listings').append(handle);
      handle.each( function(){
        $(this).find('img').bind('click', mediasetPhotoListingClick);
      });
    });

    $('#sort-oldest-upload-first').click( function(event){
      event.preventDefault();
      var handle = $('#mediaset-photo-listings').children().remove();
      handle.sort( function(a,b){
        return $(a).attr('value') > $(b).attr('value') ? 1 : -1;
      });
      $('#mediaset-photo-listings').append(handle);
      handle.each( function(){
        $(this).find('img').bind('click', mediasetPhotoListingClick);
      });
    });


    $('#setlist-remove-selected').click( function() {
      $('#mediaset-photo-listings').find('.selected-img').each( function() {
        if($(this).find('.photo-listings-select').prop('checked') ) {
          $(this).detach();
        }
      });
    });
  });
</script>
