<%= form_for @mediaset, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row-fluid">
    <div class="span5">
      <h3>Set the title and description...</h3>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_area', :cols => 80, :rows=>5 %>
        </div>
      </div>
    </div>
    <div class="span7">
      <h3>...then drop & arrange your photos here...</h3>
      <div class="well" id="mediaset-photo-listings" style="overflow:hidden;">
        <% @mediaset_photos.each do |photo| %>
          <div id="photo_<%= photo.id %>" class="pull-left selected-img"  >
            <%= check_box_tag 'photo[]', photo.id, true, :id => 'photo_'+photo.id.to_s, :style => 'display:none;' %>
            <%= image_tag photo.avatar.square100, :style => 'margin:4px;', 
              :class=> 'img-polaroid ui-widget-content' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
      <h3>...from your pool of photos</h3>
      <div class="row-fluid">
        <select id="photo-listing-selector" name="photo-listing-selector" style="white-space:pre;">
          <option value="photoNotInSet" selected>Photos not in this mediaset</option>
          <option value="ignore">Last Import...</option>
          <% @upload_date_list.each do |thisDate| %>
            <option value="photoOn<%= thisDate.beginning_of_day.to_s(:number) %>">  <%= '--' + thisDate.to_s %></option>
          <% end %>
          <option value="photoAll" >All Photos</option>
        </select>
      </div>
      <br />
      <div class="control-group row-fluid" id="photo-list">
        <div class="last-div endless_scroll_inner_wrap">
        </div>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mediasets_path, :class => 'btn' %>
  </div>
<% end %>


<script type="text/javascript">
  $.ajax({
    url: '/photos/get_more/<%= Photo.last.id %>',
    data: {limit:50, includeFirst:'true', size:'square100', 
      author:'<%= @persona.screen_name %>', showCaption:'false', excludeMediaset:'<%= @mediaset.id %>', 
      draggable:true, dragSortConnect:'#mediaset-photo-listing'
    },
    dataType: 'script'
  });

  $(document).ready(function (){
    //setup the interface
    $('#mediaset-photo-listing').sortable({
    }); 

    //track changes on the photo selection dropdown
    $('#photo-listing-selector').change( function() {
      var getConditions = {};
      if ($(this).val() == 'photoNotInSet'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', 
          excludeMediaset:'<%= @mediaset.id %>', draggable:true, dragSortConnect:'#mediaset-photo-listing'
        }
      } else if ($(this).val() == 'photoAll'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false',
          draggable:true, dragSortConnect:'#mediaset-photo-listing'
        }
      } else if($(this).val().substring(0,7) == 'photoOn' ) {
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', 
          dateRange:$(this).val().split('photoOn')[1], 
          draggable:true, dragSortConnect:'#mediaset-photo-listing'
        }
      }

      if( $(this).val() != 'ignore' ){
        $('.endless_scroll_inner_wrap').empty();
        $.ajax({
          url: '/photos/get_more/<%= Photo.last.id %>',
          data: getConditions,
          dataType: 'script'
        });
      }
    });
   
    //allow photos in the imagelist to be dropped into image setlist
    $('#mediaset-photo-listings').droppable({
      accept:'.endless_scroll_inner_wrap img',
      drop: function( event, ui ){
        addPhotoToMediaset(ui.draggable);
      }
    });

    //allow the selected imagelist to be sortable
    $('#mediaset-photo-listings').sortable();

    //allow photos in the setlist be dropped into the imagelist (remove photo from setlist) 
    $('#photo-list').droppable({
      accept:'#mediaset-photo-listings .selected-img', 
      drop: function (event, ui){
        revertPhotoToPool(ui.draggable);
      }
    });

    //handle photo being dropped into the image setlist
    function addPhotoToMediaset( $item ){
      var idToLook = '#'  + $item.attr('id');
      //handle is the photo is already in mediaset
      $('#mediaset-photo-listings').append(
        $('<div/>', { id:$item.attr('id'), class:'pull-left selected-img' } )
      );
      $('#mediaset-photo-listings').find(idToLook).append( $('<input/>', {
        name:'photo[]', id:$item.attr('id'), value:$item.attr('id').split('_')[1] , 
        type:'checkbox', checked:'true', style:'display:none;'
      }));
      $('#mediaset-photo-listings').find(idToLook).append(
        $item.attr('style', 'margin:4px; position:relative;') 
      );
      $item.draggable('destory').sortable({ connectTo:'#mediaset-photo-listings' });
    }

    //handle photo being dropped into the imagelist
    function revertPhotoToPool( $item){
      $item.remove();
      $('#mediaset-photo-checkbox').find('#' + $item.attr('id')).remove();
    }

  });
</script>
