<%= form_for @mediaset, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mediasets_path, :class => 'btn' %>
  </div>
<% end %>
<% if !@mediaset.id.nil? then %>
<div id="piclist">
  <%= form_tag mediaset_update_photos_path(@mediaset) do %>
    <h3>Click to choose</h3>
    <div class="control-group" style="display: block; overflow-x: scroll; white-space: nowrap; height: 130px; ">
      <% @photos.each do |photo| %>
        <% if @mediaset_photos.include?(photo) then %>
          <%= check_box_tag 'photo[]', photo.id, true,  :id => 'photo_'+photo.id.to_s, :style => 'display: none'  %>
          <%= image_tag photo.avatar.square100.url, :id => photo.id, :class => 'checked img-polaroid', 
            :style => 'padding:0px; border:5px solid red;' %>
        <% else %>
          <%= check_box_tag 'photo[]', photo.id, false,  :id => 'photo_'+photo.id.to_s, :style => 'display: none'  %>
          <%= image_tag photo.avatar.square100.url, :id => photo.id , :class => 'img-polaroid'%>
        <% end %>
      <% end %>
    </div>
    <div class="form-actions">  
      <%= submit_tag 'Update photo selection', :class=>'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function (){
    $("#piclist img").click(function (event){
      $(this).toggleClass("checked");
      if($(this).hasClass("checked")){
        $("#photo_"+ $(this).attr('id') ).prop('checked', true);
        $(this).css('padding', '0px');
        $(this).css('border', '5px solid red');
      } else {
        $("#photo_"+ $(this).attr('id') ).prop('checked', false);
        $(this).css('padding', '4px');
        $(this).css('border', '1px solid rgba(0, 0 ,0, 0.2)');
      }
        
    });
  });
</script>
