<%= form_for @mediaset, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row-fluid">
    <div class="span5">
      <h3>Add title and description...</h3>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_area', :cols => 80, :rows=>5 %>
        </div>
      </div>
    </div>
    <div class="span7">
        <h3>...then drop & arrange your photos here...</h3>
        <div class="well" id="mediaset-photo-listings">
          <% @mediaset.photos.each do |photo| %>
            <%= image_tag photo.avatar.square100, :style => 'margin:4px;', :class=> 'img-polaroid selected-img ui-widget-content' %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row-fluid" id="piclist">
      <h3>...from this list of your photos</h3>
      <div class="row-fluid">
        <select id="photo-listing-selector" name="photo-listing-selector" style="white-space:pre;">
          <option value="photoNotInSet" selected>Photos not in this mediaset</option>
          <option value="ignore">Last Import...</option>
          <% @upload_date_list.each do |thisDate| %>
            <option value="photoOn<%= thisDate.beginning_of_day.to_s(:number) %>">  <%= '--' + thisDate.to_s %></option>
          <% end %>
          <option value="photoAll" >All Photos</option>
        </select>
      </div>
      <br />
      <div class="control-group row-fluid" id="photo-list">
        <div class="last-div endless_scroll_inner_wrap">
        </div>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mediasets_path, :class => 'btn' %>
  </div>
<% end %>


<script type="text/javascript">
  $.ajax({
    url: '/photos/get_more/<%= Photo.last.id %>',
    data: {limit:50, includeFirst:'true', size:'square100', 
      author:'<%= @persona.screen_name %>', showCaption:'false', excludeMediaset:'<%= @mediaset.id %>', draggable:true
    },
    dataType: 'script'
  });

  $(document).ready(function (){
    //setup the interface
    $('.selected-img').draggable({
      revert:'invalid'
    }); 

    $("#piclist img").click(function (event){
      $(this).toggleClass("checked");
      if($(this).hasClass("checked")){
        $("#photo_"+ $(this).attr('id') ).prop('checked', true);
        $(this).css('padding', '0px');
        $(this).css('border', '5px solid red');
      } else {
        $("#photo_"+ $(this).attr('id') ).prop('checked', false);
        $(this).css('padding', '4px');
        $(this).css('border', '1px solid rgba(0, 0 ,0, 0.2)');
      }
       
    });

    //track changes on the photo selection dropdown
    $('#photo-listing-selector').change( function() {
      var getConditions = {};
      if ($(this).val() == 'photoNotInSet'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', excludeMediaset:'<%= @mediaset.id %>', draggable:true
        }
      } else if ($(this).val() == 'photoAll'){
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', draggable:true
        }
      } else if($(this).val().substring(0,7) == 'photoOn' ) {
        getConditions = {
          limit:50, includeFirst:'true', size:'square100', 
          author:'<%= @persona.screen_name %>', showCaption:'false', dateRange:$(this).val().split('photoOn')[1], 
          draggable:true
        }
      }

      if( $(this).val() != 'ignore' ){
        $('.endless_scroll_inner_wrap').empty();
        $.ajax({
          url: '/photos/get_more/<%= Photo.last.id %>',
          data: getConditions,
          dataType: 'script'
        });
      }
    });
   
    //allow photos in the imagelist to be dropped into image setlist
    $('#mediaset-photo-listings').droppable({
      accept:'.endless_scroll_inner_wrap img',
      drop: function( event, ui ){
        addPhotoToMediaset(ui.draggable);
      }
    });

    //allow photos in the setlist be dropped into the imagelist (remove photo from setlist) 
    $('#photo-list').droppable({
      accept:'#mediaset-photo-listings img'
    });

    //handle photo being dropped into the image setlist
    function addPhotoToMediaset( $item ){
      $item.fadeOut(  function(){
        $item.appendTo('#mediaset-photo-listings').fadeIn();
      });
    }
    //handle photo being dropped into the imagelist

  });
</script>
