//to update in photo#view action

//update at the mediaset select modal box
var theCheckBox = "<%= escape_javascript (check_box_tag 'mediaset[]', @mediaset.id, true) %>";
<% if @mediaset.photos.empty? then %>
  var thePhotoAndTitle = "<%=  escape_javascript(image_tag 'icon/zero-photo/square50.jpg' ) %> <%= @mediaset.title %>"; 
<% else %>
  var thePhotoAndTitle = "<%=  escape_javascript(image_tag @mediaset.photos.first.avatar.square50) %> <%= @mediaset.title %>"; 
<% end %>
$('#newMediasetList').after("<li>" + theCheckBox + " " + thePhotoAndTitle + "</li>");

//create at the bottom of the scrolls
var accordionHead = jQuery('<div/>', { class:'accordion-heading'});
accordionHead.append(jQuery('<h3/>', {}));

var accordionToggle = jQuery('<a/>', {
  href:'#collapse<%= @mediaset.id.to_s %>', class:'accordion-toggle', 
  'data-toggle':'collapse', 'data-parent':'#accordion2', style:'display:inline;'
}).append(jQuery('<i/>', {
  class:'icon-chevron-down', 
}));
accordionHead.find('h3').append(accordionToggle);

accordionHead.find('h3').append(jQuery('<a/>', {
  text:'<%= escape_javascript(@mediaset.title) %>', 
  href:'<%= escape_javascript(view_sets_path(current_persona.screen_name, @mediaset)) %>' 
}));

var accordionBody = jQuery('<div/>', { class:'accordion-body collapse', id:'collapse<%= @mediaset.id %>' });
<% if !@mediaset.photos.empty? then %>
  <% @photolist = get_photo_list(current_persona.id, @mediaset.photos.first.id, @mediaset.id) %>
  var photolist = "<%= escape_javascript( render "photos/coverflow") %>"
  accordionBody.append(photolist);
<% end %>

var accordionGroup = jQuery('<div/>', {class:'accordion-group'});
accordionGroup.append(accordionHead);
accordionGroup.append(accordionBody);
$('#accordion2').append(accordionGroup);
