<%- model_class = Mediaset -%>
<% content_for :title, 'Recent Sets' %>
<div class="page-header">
  <h1><%=t '.title', :default => 'Recent ' + model_class.model_name.human.pluralize %></h1>
</div>
<div class="row-fluid navbar" id="photoSelectorType">
  <div class="navbar-inner">
    <ul class="nav" id="mediasetTypeSelectorTab">
      <li class="active" id="recentlyFeatured"><a href="#"><i class="icon-star"></i> Featured</a><li>
      <li class="" id="recentlyTrendy"><%= link_to '<i class="icon-reorder"></i> Trendy'.html_safe, '#' %></li>
      <% if persona_signed_in? then %>
        <li id="recentlyTracked"><%= link_to '<i class="icon-screenshot"></i> Following'.html_safe, '#' %></li>
      <% end %>
      <li id="recentlyRaw"><%= link_to '<i class="icon-book"></i> Raw'.html_safe, '#' %><li>
    </ul>
  </div>
</div>
<div class="row-fluid endless-mediaset" last="<%= @last_id %>" >
  <div class="last-div endless_scroll_inner_wrap" id="last-frame"></div>
</div>
<div class="row-fluid">
  <%= link_to 'Get More Mediasets', '#', :class=>'btn btn-primary', :id=>'getMoreSets' %>
</div>
