<%- model_class = Mediaset -%>
<div class="page-header">
  <h1>Sets by <%= @persona.screen_name %></h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li><%= link_to t('.back', :default => t("helpers.links.back")), mediasets_path %>
      <% if persona_signed_in? && current_persona.screen_name == params[:id] %>
        <li class="divider-vertical"></li>
        <li><%= link_to 'New', new_mediaset_path %></li>
        <li class="divider-vertical"></li>
      <% end %>
    </li>
    </ul>
  </div>
</div>
<ul>
  <li>
    <% if @default_photos.empty? then %>
      <% if current_persona == @persona %>
        <h3>You don't have any photos, <%= link_to 'upload some', new_photo_path %> then create a new set</h3>
      <% else %>
        <h3>No photos or sets yet...</h3>
      <% end %>
    <% else %>
      <h3><%= link_to 'Default', photo_path(@persona.screen_name) %></h3>
      <div>
        <% @default_photos.each do |photo| %>
          <%= link_to image_tag(photo.avatar.square100, :class=>'img-polaroid'), 
            photo_view_path(@persona.screen_name, photo.id) %>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>
<% if !@default_photos.empty? && @mediasets.empty? then %>
  <div>Nothing to see here</div>
<% else %>
  <ul class="nav nav-tabs" id="mediasetTypeSelectorTab">
    <li class="active recentlyFeatured"><%= link_to 'Featured', '#' %></li>
    <li class="recentlyRaw"><%= link_to 'Raw', '#' %></li>
  </ul>
  <div class="row-fluid endless-mediaset" last="<%= @mediasets.first.id %>">
    <div class="last-div endless_scroll_inner_wrap" id="last-frame"></div>
  </div>
  <div class="row-fluid">
    <%= link_to 'Get More Mediasets', '#', :class=>'btn btn-primary', :id=>'getMoreSets' %>
  </div>
<% end %>
<script type="text/javascript">
  isFeatured = true
  $.ajax({
    url: '/mediasets/get_more/<%= @mediasets.first.id %>',
    data: {includeFirst:true, persona:'<%= @persona.id %>', featured:true }, 
    dataType: 'script'
  });

  //endless scrolls of mediasets, hua hahahahahh
  $(document).endlessScroll({
    fireOnce: true,
    fireDelay: 500, 
    bottomPixels: 250, 
    intervalFrequency: 100, 
    ceaseFireOnEmpty: false, 
    ceaseFire: function(){
      return $('.last-div').length ? false : true;
    }, 
    loader: '<div>loading...</div>', 
    callback: function(){
        $.ajax({
          url: '/mediasets/get_more/'+$('.endless-mediaset').attr('last'), 
          data: { persona:'<%= @persona.id %>', featured:isFeatured } ,
          dataType: 'script'
        });
    }, 
    ceaseFire: function(s){
      s<5 ? false : true;  
    }
  });

  $(document).ready( function(){
    //handle nav bar 
    $('#mediasetTypeSelectorTab li').click( function(){
      $('.active').toggleClass('active');
      $(this).toggleClass('active');

      //empty out and repopulate
      $('.last-div').empty();
      isFeatured = $('.recentlyFeatured').hasClass('active') ? 'true' : ['true', 'false'];
      $('.endless-mediaset').attr('last', '<%= Mediaset.last.id %>');
      $.ajax({
        url: '/mediasets/get_more/'+ $('.endless-mediaset').attr('last'),
        data: { persona:'<%= @persona.id %>', featured:isFeatured }, 
        dataType: 'script'
      });
    });

    //manually load more mediasets
    $('#getMoreSets').click( function(){
      $.ajax({
        url: '/mediasets/get_more/'+ $('.endless-mediaset').attr('last') , 
        data: { featured:isFeatured },
        dataType: 'script'
      });
    });

  });
</script>
