<%- model_class = Mediaset -%>
<div class="page-header">
  <h1>Sets by <%= @persona.screen_name %></h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li><%= link_to t('.back', :default => t("helpers.links.back")), mediasets_path %>
      <% if persona_signed_in? && current_persona.screen_name == params[:id] %>
        <li class="divider-vertical"></li>
        <li><%= link_to 'New', new_mediaset_path %></li>
        <li class="divider-vertical"></li>
      <% end %>
    </li>
    </ul>
  </div>
</div>
<ul>
  <li>
    <% if @default_photos.empty? then %>
      <% if current_persona == @persona %>
        <h3>You don't have any photos, <%= link_to 'upload some', new_photo_path %> then create a new set</h3>
      <% else %>
        <h3>No photos or sets yet...</h3>
      <% end %>
    <% else %>
      <h3><%= link_to 'Default', photo_path(@persona.screen_name) %></h3>
      <div>
        <% @default_photos.each do |photo| %>
          <%= link_to image_tag(photo.avatar.square100, :class=>'img-polaroid'), 
            photo_view_path(@persona.screen_name, photo.id) %>
        <% end %>
      </div>
    <% end %>
  </li>
  <% if !@default_photos.empty? && @mediasets.empty? then %>
  <% else %>
    <% @mediasets.each do |mediaset| %>
        <li>
          <h3><%= link_to mediaset.title, view_sets_path(@persona.screen_name, mediaset.id) %></h3> 
          <% if mediaset.photos.empty? %>    
              <h4>No photos in set yet<%= current_persona == @persona ? link_to(', add photos to this set',edit_mediaset_path(@persona.screen_name, mediaset.id)) : '' %></h4>
          <% else %>
            <div>
              <% mediaset.photos.find(:all, :limit => 4, :order => 'id desc').each do |photo| %>
                <%= link_to image_tag(photo.avatar.tiny.url, :class=>'img-polaroid'), 
                  photo_view_path(@persona.screen_name, photo.id)  %>
              <% end %>
            </div>
          <% end %>
        </li>
    <% end %>
  <% end %>
</ul>

