<div class="row-fluid">
  <div class="span10 offset1">
    <p><%= @default_options[:persona_sender].nil? ? 'We' : @default_options[:persona_sender].screen_name %> 
      would like to share something from <%= link_to 'sirap', root_url %></p>
    <p><%= @default_options[:url] %></p>
  </div>
</div>

<div class="row-fluid">
  <% if !@default_options[:message].nil? then %>
    <div>
      <%= simple_format(@default_options[:message]) %>
    </div>
<% end %>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= @default_options[:photoList].html_safe %>
  </div>
</div>
