<div class="page-header row-fluid">
  <div class="span3">
    <div class="dropdown pull-right" id="persona-button-group">
      <% avatar_pic = @persona.avatar.path.nil? ? 'http://placehold.it/75x75' : @persona.avatar.normal %>
      <%= link_to image_tag(avatar_pic)+ '<b class="caret"></b>'.html_safe , 
        '#', :class=>'dropdown-toggle', :'data-toggle' => 'dropdown', :id=>'persona-photo-button'%>
      <ul class="dropdown-menu pull-right" role="menu" id="persona-photo-menu" >
        <% if persona_signed_in? && current_persona != @persona then %>
          <li class="trackBox">
            <% if current_persona.tracks 'persona', @persona then %>
              <%= link_to 'Following '+ @persona.screen_name +  ' - Unfollow',
                follower_untrack_path('persona', @persona), :remote=> true, :method=> :post %>
            <% else %>
              <%= link_to 'Follow photos by ' + @persona.screen_name, 
                follower_track_path('persona', @persona ), :remote=>true, :method => :post %>
            <% end %>
          </li>
          <li class="divider"></li>
        <% end %>
        <li><%= link_to '<i class="icon-picture"></i> Photos'.html_safe, photo_path(@persona.screen_name) %></li>
        <li><%= link_to '<i class="icon-th-list"></i> Mediasets'.html_safe, 
          mediaset_path(@persona.screen_name) %></li>
        <li><%= link_to '<i class="icon-tags"></i> Tags'.html_safe, persona_tags_path(@persona.screen_name) %></li>
        <li class="divider"></li>
        <li><%= link_to '<i class="icon-group"></i> Followers & Following'.html_safe, 
          follower_path(@persona.screen_name) %></li>
        <li class="divider"></li>
        <li><%= link_to '<i class="icon-user"></i> Profile'.html_safe, persona_path(@persona.screen_name) %></li>
        <% if persona_signed_in? &&  current_persona == @persona then %>
          <li><%= link_to '<i class="icon-smile"></i> Update Persona Picture'.html_safe, 
            persona_get_profile_pic_path(@persona.screen_name) %></li>
          <% if !@persona.premium? || @persona.premiumExpire < DateTime.now then %>
            <li><%= link_to '<i class="icon-bolt"></i> Upgrade to Premium'.html_safe, 
              persona_upgrade_acc_path(@persona.screen_name) %></li>
          <% else %>
            <li><%= link_to '<i class="icon-bolt"></i> Extend Your Premium Account'.html_safe, 
              persona_upgrade_acc_path(@persona.screen_name) %></li>
          <% end %>
          <li><%= link_to '<i class="icon-shopping-cart"></i> Your Cart (0) </i>'.html_safe, 
             store_checkout_path(@persona.screen_name)  %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <h1 class="span9 pull-left"><%= @persona.screen_name %> - <%= @focus.nil? ? '' : @focus %></h1>
</div>

