<% if !@carts.empty? then %>
	<div class="row">
		<div class="span8 offset4"><%= render "workflow" %></div>
	</div>
<% end %>

<h1>Store Checkout</h1>
<% if @carts.empty? then %>
	<div class="row">
		<div class="span10 offset1">
			<div class="hero-unit">
				<h2>Empty Cart</h2>
				<p>You don't have anything in your cart....yet</p>
			</div>
		</div>
	</div>
<% else %>
<div class="row">
  <div class="span10 offset1">
    <table class="table table-striped" >
      <thead>
        <th>No</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity (Click to Edit)</th>
        <th>Total Price</th>
        <th></th>
      </thead>
      <tbody>
				<% running_number = 0 %>
				<% @carts.each do |cart_item| %>
					<% sku = Sku.find(cart_item.item_id) %>
					<tr class="cart-item" id="cart-<%= cart_item.id %>" >
						<td><%= running_number = running_number.next %></td>
						<td><%= sku.description %></td>
						<td class="unit_price"><%= sku.base_price %></td>
						<td class="quantity"><%= best_in_place cart_item,:quantity, :path => store_update_cart_item_path(@persona.screen_name, cart_item.id) %></td>
						<td class="total_price"><%= sku.base_price * cart_item.quantity %></td>
						<td>
							<%= link_to '<i class="icon-ban-circle"></i> Cancel'.html_safe, store_remove_from_cart_path(@persona.screen_name, cart_item.id ), :remote=> true, 
								:class => 'btn btn-danger', :method => :post %>
						</td>
					</tr>
				<% end %>
        <tr class="info">
          <td colspan="4">Grand Total</td>
          <td><span class="checkout-amount"><%= @carts.map{ |x| Sku.find(x.item_id).base_price * x.quantity }.sum %></span></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
<div class="row">
  <div class="span6 offset1"></div>
  <div class="span2" id="place-order">
    <%= link_to '<i class="icon-signin"></i> Place Your Order'.html_safe, store_generate_order_path(@persona.screen_name) , 
			:class=>'btn btn-primary pull-right', :remote => true, :method => :post %>
  </div>
	<div class="span6 pull-right" style="display:none" id="goto-payment">
		Thank you, you order has been generated. <%= link_to '<i class="icon-credit-card"></i> Proceed to Payment'.html_safe, store_confirm_pay_path(@persona.screen_name), 
			:class=>'btn btn-primary' %> to complete the order
  </div>
</div>
<% end %>
