<div class="row">
  <div class="span8 offset4"><%= render "workflow" %></div>
</div>

<h1>Store Checkout</h1>
<div class="row">
  <div class="span10 offset1">
    <table class="table table-striped" >
      <thead>
        <th>No</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
      </thead>
      <tbody>
				<% @carts.each do |cart_item| %>
					<% sku = Sku.find(cart_item.item_id) %>
					<tr id="cart-<%= cart_item.id %>" >
						<td>1</td>
						<td><%= sku.description %></td>
						<td class="unit_price"><%= sku.base_price %></td>
						<td class="quantity"><%= best_in_place cart_item,:quantity, :path => store_update_cart_item_path(@persona.screen_name, cart_item.id) %></td>
						<td class="total_price"><%= sku.base_price * cart_item.quantity %></td>
						<td>
							<%= link_to 'Cancel', store_remove_from_cart_path(@persona.screen_name, cart_item.id ), :remote=> true, 
								:class => 'btn btn-danger', :method => :post %>
							<%= button_tag 'Edit', :type => 'button', :class => 'btn btn-warning', :'remote_cart-id'=>cart_item.id %>
						</td>
					</tr>
				<% end %>
        <tr class="info">
          <td colspan="4">Grand Total</td>
          <td><span class="checkout-amount"><%= @carts.map{ |x| Sku.find(x.item_id).base_price * x.quantity }.sum %></span></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
<div class="row">
  <div class="span6 offset1"></div>
  <div class="span2">
    <%= link_to 'Place Your Order', store_generate_order_path(@persona.screen_name) , :class=>'btn btn-primary pull-right', :remote => true, :method => :post %>
  </div>
   <div class="span2">
    <%= link_to 'Proceed to Payment', store_confirm_pay_path(@persona.screen_name), :class=>'btn btn-primary pull-right' %>
  </div>
</div>
