<h1>Orders</h1>

<div class="row">
	<div class="span10 offset1">
		<h2>Current Orders</h2>
		<% if @orders.empty? then %>
			<p>You don't have unfinished orders yet</p>
		<% else %>
			<!-- list current orders that have not be completed yet -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Date Created</th>
						<th>Last Status Update Date</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |this_order| %>
						<tr>
							<td><%= link_to this_order.id, store_order_detail_path(@persona.screen_name,this_order.id) %></td>
							<td><%= this_order.created_at.localtime %></td>
							<td><%= this_order.updated_at.localtime %></td>
							<td><%= link_to this_order.status, store_order_detail_path(@persona.screen_name,this_order.id) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span10 offset1">
		<h2>Past Orders</h2>
		<p><%= link_to 'View Past Orders', store_past_orders_path(@persona.screen_name), :class => 'btn' %></p>
	</div>
</div>


