<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? 'Wecool - ' + yield(:title) : "Wecool" %></title>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--a class="brand" href="#">Wecool</a-->
          <%= link_to 'Wecool', root_path, :class=>'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" 
                  data-toggle="dropdown">Explore<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="icon-picture"></i> Photos'.html_safe, photos_path  %></li>
                  <li><%= link_to '<i class="icon-th-list"></i> Sets'.html_safe, mediasets_path %></li>
                  <li><%= link_to '<i class="icon-group"></i> Personas'.html_safe, personas_path %></li>
                  <li><%= link_to '<i class="icon-tags"></i> Tags'.html_safe, tags_path %></li>
                </ul>
              </li>
              <% if persona_signed_in? then %>
                <li class="dropdown">
                  <a href="#" role="button" class="dropdown-toggle" 
                    data-toggle="dropdown">Me<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to '<i class="icon-picture"></i> My Photos'.html_safe, 
                      photo_path(current_persona.screen_name) %></li>
                    <li><%= link_to '<i class="icon-th-list"></i> My Sets'.html_safe, 
                      mediaset_path(current_persona.screen_name) %></li>
                    <li><%= link_to '<i class="icon-group"></i> My Followers'.html_safe, 
                      follower_path(current_persona.screen_name) %></li>
                    <li><%= link_to '<i class="icon-tags"></i> My Tags'.html_safe, 
                      persona_tags_path(current_persona.screen_name) %></li>
                  </ul>
                <li><%= link_to '<i class="icon-cloud-upload"></i> Upload'.html_safe, new_photo_path  %></li>
              <% else %>
                <li><%= link_to 'The Tour', tour_path %></li>
                <li><%= link_to 'Sign Up', new_persona_registration_path %></li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% if persona_signed_in? then %>
              <li class="dropdown">
                <%= link_to ('<i class="icon-user"></i> ' + current_persona.screen_name + 
                  '<i class="caret"></i>').html_safe, '#', :'data-toggle' => 'dropdown', 
                    :class => 'dropdown-toggle', :role=> 'button'  %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'View Your Page', persona_path(current_persona.screen_name) %></li>
                  <li><%= link_to '<i class="icon-wrench"></i> Edit Your Profile'.html_safe, 
                    edit_persona_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to 'Update Persona Picture', 
                      persona_get_profile_pic_path(current_persona.screen_name) %>
                  </li>
                  <li><%= link_to 'Change Password', edit_persona_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to '<i class="icon-signout"></i> Sign Out'.html_safe, 
                    destroy_persona_session_path, :method => :delete %></li>
                </ul>
              </li>
              <% else %>
                <li>
                  <%= link_to 'Sign In', new_persona_session_path %>
                </li>
                
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2012-13 | <%= link_to 'About Us', aboutUs_path %> | <%= link_to 'Terms of Use', termsAndConditions_path %></p>
        
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--%= javascript_include_tag "application" %-->

  </body>
</html>
