<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? 'Sirap - ' + yield(:title) : "Sirap - Where your photos call home" %></title>
    <!--%= javascript_include_tag "application", controller_name %-->
    <!--%= yield :other_javascript %-->

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag controller_name, :media => "all" %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'sirap-icon/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'sirap-icon/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'sirap-icon/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'sirap-icon/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'sirap-icon/favicon.svg', :rel => 'shortcut icon', :sizes => '32x32' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="fa fa-bars"></span>
          </a>
          <!--a class="brand" href="#">Wecool</a-->
          <%= link_to 'Sirap', root_path, :class=>'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" 
                  data-toggle="dropdown"><%= fa_icon 'globe', text: 'Explorer' %><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to fa_icon('picture-o', text: 'Photos') , photos_path  %></li>
                  <li><%= link_to fa_icon('book', text: 'Sets'), mediasets_path %></li>
                  <li><%= link_to fa_icon('group', text: 'Personas') , personas_path %></li>
                  <li><%= link_to fa_icon('tags', text: 'Tags') , tags_path %></li>
                </ul>
              </li>
              <% if persona_signed_in? then %>
                <li><%= link_to fa_icon('cloud-upload', text:'Upload'),
                  new_photo_path(current_persona.screen_name)  %>
                </li>
              <% else %>
                <li><%= link_to 'Sign Up'.html_safe, new_persona_registration_path %></li>
              <% end %>
            </ul>
            <% if persona_signed_in? then %>
              <ul class="nav pull-right">
              <li class="dropdown">
                <!-- for the store-->
                <%= link_to fa_icon('shopping-cart') + ' ' + fa_icon('caret-down'), '#', 
                    :'data-toggle' => 'dropdown', 
                    :class => 'dropdown-toggle', :role=> 'button'  %>
                <ul class="dropdown-menu" role="menu">
									<li><%= link_to fa_icon('hdd-o', :text => 'Buy Storage'), 
										persona_upgrade_acc_path(current_persona.screen_name) %></li>
									<li>
										<a style="vertical-align:center;" >
											<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="margin:0px;" >
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="business" value="erwin@sirap.co">
												<input type="hidden" name="display" value="1">
												<i class="fa fa-shopping-cart"></i> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" 
													border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
										</a>
									</li>
                  <li><%= link_to fa_icon('truck', :text => 'Your Orders'), 
                    store_orders_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li><%= link_to fa_icon('barcode', :text => 'Your Coupons'),
                    store_coupons_path(current_persona.screen_name) %></li>
                </ul>
              </li>
              <li class="dropdown">
                <%= link_to fa_icon( 'user', :text => current_persona.screen_name ) + ' ' +
                  fa_icon('caret-down') , '#', :'data-toggle' => 'dropdown', 
                    :class => 'dropdown-toggle', :role=> 'button'  %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to fa_icon('picture-o', :text => 'My Photos'), 
                    photo_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('book', :text => 'My Sets'),
                    mediaset_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('group', :text => 'My Followers'),
                    follower_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('tags', :text => 'My Tags'),
                    persona_tags_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li><%= link_to fa_icon('user', :text => 'View Your Page'),
                    persona_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('wrench', :text => 'Edit Your Profile'), 
                    edit_persona_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to fa_icon('smile-o', :text => 'Update Persona Picture'), 
                      persona_get_profile_pic_path(current_persona.screen_name) %>
                  </li>
                  <li><%= link_to fa_icon('key', :text => 'Change Password'),
                    edit_persona_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to fa_icon('sign-out', :text => 'Sign Out'),
                    destroy_persona_session_path, :method => :delete %></li>
                </ul>
              </li>
              </ul>
            <% else %>
              <!-- inline form -->
              <%= form_for('persona', :url => persona_session_path, 
                :html => { :class=> 'navbar-form navbar-inverse-form form-inline pull-right' } ) do |f| %>
                <%= f.text_field :email, :placeholder => 'email' %>
                <%= f.password_field :password, :placeholder => 'password' %>
                <%= f.label :remember_me, :class=> 'checkbox' do %>
                  <%= f.check_box :remember_me, :class=> 'checkbox' %> <%= 'Remember'.html_safe %>
                <% end %>
                <%= f.submit 'Sign In'.html_safe, :class=>'btn btn-primary' %>
              <% end %>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-top:10px;">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <div class="row-fluid">
        <div class="span2" id="feedback_box">
          <%= link_to 'Feedback [+]', '#', { 
						:'data-placement' => 'top', :'data-title' => 'Feedback', :'data-toggle' => 'popover' 
					} %>
        </div>
      </div>


      <footer>
        <p>&copy; Sirap Co. 2012-13 | <%= link_to 'About Us', aboutUs_path %> | <%= link_to 'Terms of Use', termsAndConditions_path %></p>
        
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--%= javascript_include_tag "application" %-->
    <%= javascript_include_tag "application", controller_name %>
    <%= yield :other_javascript %>

  </body>
</html>
