<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? 'Sirap - ' + yield(:title) : "Sirap - Where your photos call home" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag controller_name, :media => "all" %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="fa fa-bars"></span>
          </a>
          <%= link_to 'Sirap', root_path, :class=>'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" 
                  data-toggle="dropdown"><i class="fa fa-globe"></i> Explore<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to fa_icon('picture-o', :text => 'Photos') , photos_path  %></li>
                  <li><%= link_to fa_icon('book', :text => 'Sets'), mediasets_path %></li>
                  <li><%= link_to fa_icon('group', :text => 'Personas') , personas_path %></li>
                  <li><%= link_to fa_icon('tags', :text => 'Tags') , tags_path %></li>
                </ul>
              </li>
							<!-- drop down menu -->
            <% if persona_signed_in? then %>
              <ul class="nav pull-right">
              <li><%= link_to fa_icon('cloud-upload', :text => 'Upload') , 
                new_photo_path(current_persona.screen_name)  %>
              </li>
              <li class="dropdown">
                <!-- for the store-->
                <%= link_to fa_icon('shopping-cart') + ' ' + fa_icon('caret-down'), 
                    '#', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle', :role=> 'button'  
                %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to fa_icon('shopping-cart', :text => 'Your Cart / Checkout'), 
                    store_checkout_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('truck', :text => 'Your Orders'), 
                    store_orders_path(current_persona.screen_name) %></li>
                </ul>
              </li>
              <li class="dropdown">
                <%= link_to fa_icon('user', :text => current_persona.screen_name) + ' ' + 
                  fa_icon('caret-down'), '#', :'data-toggle' => 'dropdown', 
                    :class => 'dropdown-toggle', :role=> 'button'  %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to fa_icon('picture-o', :text => 'My Photos') , 
                    photo_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('book', :text => 'My Sets') , 
                    mediaset_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('group', :text => 'My Followers'), 
                    follower_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('tags', :text => 'My Tags') , 
                    persona_tags_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li><%= link_to fa_icon('user', :text => 'My Profile') , 
                    persona_path(current_persona.screen_name) %></li>
                  <li><%= link_to fa_icon('wrench', :text => 'Edit Profile') , 
                    edit_persona_path(current_persona.screen_name) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to fa_icon('smile-o', :text => 'Update Persona Picture') , 
                      persona_get_profile_pic_path(current_persona.screen_name) %>
                  </li>
                  <li><%= link_to fa_icon('key', :text => 'Change Password') , 
                    edit_persona_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to fa_icon('sign-out', :text => 'Sign Out') , 
                    destroy_persona_session_path, :method => :delete %></li>
                </ul>
              </li>
              </ul>
            <% else %>
              <li><%= link_to 'Sign Up'.html_safe, new_persona_registration_path %></li>
              <!-- inline form -->
              <%= form_for('persona', :url => persona_session_path, 
                :html => { :class=> 'navbar-form form-inline pull-right' } ) do |f| %>
                <%= f.text_field :email, :placeholder => 'email' %>
                <%= f.password_field :password, :placeholder => 'password' %>
                <%= f.label :remember_me, :class=> 'checkbox' do %>
                  <%= f.check_box :remember_me, :class=> 'checkbox' %> <%= 'Remember'.html_safe %>
                <% end %>
                <%= f.submit 'Sign In'.html_safe, :class=>'btn btn-primary' %>
              <% end %>
            <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="margin: auto -20px;">
			
			<%= bootstrap_flash %>
			<%= yield %>

      <footer>
        <p>&copy; Sirap Co. 2012-13 | <%= link_to 'About Us', aboutUs_path %> | <%= link_to 'Terms of Use', termsAndConditions_path %></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", controller_name %>
    <%= yield :other_javascript %>

  </body>
</html>
